<menu>
    <VPN>
        <IPsec cssClass="fa fa-lock fa-fw" order="10">
            <Tunnels order="10" VisibleName="Tunnel Settings" url="/ui/ipsec/tunnels">
                <Phase1 url="/vpn_ipsec_phase1.php*" visibility="hidden"/>
                <Phase2 url="/vpn_ipsec_phase2.php*" visibility="hidden"/>
            </Tunnels>
            <Mobile order="20" VisibleName="Mobile Clients" url="/vpn_ipsec_mobile.php">
                <Act url="/vpn_ipsec_mobile.php*" visibility="hidden"/>
            </Mobile>
            <Keys order="30" VisibleName="Pre-Shared Keys" url="/vpn_ipsec_keys.php">
                <Edit url="/vpn_ipsec_keys_edit.php*" visibility="hidden"/>
            </Keys>
            <KeyPairs order="40" VisibleName="RSA Key Pairs" url="/ui/ipsec/key-pairs" />
            <Settings order="50" VisibleName="Advanced Settings" url="/vpn_ipsec_settings.php"/>
            <Status order="60" VisibleName="Status Overview" url="/diag_ipsec.php">
                <Act url="/diag_ipsec.php?*" visibility="hidden"/>
            </Status>
            <Leases order="70" VisibleName="Lease Status" url="/diag_ipsec_leases.php"/>
            <SAD order="80" VisibleName="Security Association Database" url="/diag_ipsec_sad.php"/>
            <SPD order="90" VisibleName="Security Policy Database" url="/diag_ipsec_spd.php"/>
            <LogFile order="100" VisibleName="Log File" url="/ui/diagnostics/log/core/ipsec"/>
        </IPsec>
    </VPN>
</menu>
