<menu>
    <VPN>
        <IPsec cssClass="fa fa-lock fa-fw">
            <Connections order="5" url="/ui/ipsec/connections"/>
            <Keys order="30" VisibleName="Pre-Shared Keys" url="/ui/ipsec/pre_shared_keys"/>
            <KeyPairs order="40" VisibleName="Key Pairs" url="/ui/ipsec/key_pairs" />
            <Settings order="50" VisibleName="Mobile &amp; Advanced Settings" url="/ui/ipsec/connections/settings"/>
            <Status order="60" VisibleName="Status Overview" url="/ui/ipsec/sessions"/>
            <Leases order="70" VisibleName="Lease Status" url="/ui/ipsec/leases"/>
            <SAD order="80" VisibleName="Security Association Database" url="/ui/ipsec/sad"/>
            <SPD order="90" VisibleName="Security Policy Database" url="/ui/ipsec/spd"/>
            <VTI order="90" VisibleName="Virtual Tunnel Interfaces" url="/ui/ipsec/vti"/>
            <LogFile order="100" VisibleName="Log File" url="/ui/diagnostics/log/core/ipsec"/>
        </IPsec>
    </VPN>
</menu>
