<menu>
    <VPN>
        <IPsec cssClass="fa fa-lock fa-fw">
            <Connections order="5" url="/ui/ipsec/connections"/>
            <Tunnels order="10" VisibleName="Tunnel Settings [legacy]" url="/ui/ipsec/tunnels">
                <Phase1 url="/vpn_ipsec_phase1.php*" visibility="hidden"/>
                <Phase2 url="/vpn_ipsec_phase2.php*" visibility="hidden"/>
            </Tunnels>
            <Mobile order="20" VisibleName="Mobile Clients" url="/vpn_ipsec_mobile.php">
                <Act url="/vpn_ipsec_mobile.php*" visibility="hidden"/>
            </Mobile>
            <Keys order="30" VisibleName="Pre-Shared Keys" url="/ui/ipsec/pre_shared_keys/"/>
            <KeyPairs order="40" VisibleName="Key Pairs" url="/ui/ipsec/key_pairs" />
            <Settings order="50" VisibleName="Advanced Settings" url="/vpn_ipsec_settings.php"/>
            <Status order="60" VisibleName="Status Overview" url="/ui/ipsec/sessions"/>
            <Leases order="70" VisibleName="Lease Status" url="/ui/ipsec/leases"/>
            <SAD order="80" VisibleName="Security Association Database" url="/ui/ipsec/sad"/>
            <SPD order="90" VisibleName="Security Policy Database" url="/ui/ipsec/spd"/>
            <VTI order="90" VisibleName="Virtual Tunnel Interfaces" url="/ui/ipsec/vti"/>
            <LogFile order="100" VisibleName="Log File" url="/ui/diagnostics/log/core/ipsec"/>
        </IPsec>
    </VPN>
</menu>
