<acl>
    <!-- unique acl key, must be globally unique for all acl's  -->
    <page-services-ids>
        <name>WebCfg - Services: Intrusion Detection page</name>
        <description>Allow access to the 'Services: Intrusion Detection' page'</description>
        <patterns>
            <pattern>ui/ids/*</pattern>
            <pattern>api/ids/*</pattern>
        </patterns>
    </page-services-ids>
</acl>