<acl>
    <page-services-ids>
        <name>Services: Intrusion Detection</name>
        <patterns>
            <pattern>ui/ids/*</pattern>
            <pattern>api/ids/*</pattern>
            <pattern>ui/diagnostics/log/core/suricata/*</pattern>
            <pattern>api/diagnostics/log/core/suricata/*</pattern>
        </patterns>
    </page-services-ids>
</acl>
