<menu>
    <Services>
        <CaptivePortal VisibleName="Captive Portal" cssClass="fa fa-paper-plane-o fa-fw">
            <Administration order="10" url="/ui/captiveportal"/>
            <Sessions order="20" url="/ui/captiveportal/session"/>
            <Vouchers order="30" url="/ui/captiveportal/voucher"/>
            <Log order="40" VisibleName="Log File" url="/ui/diagnostics/log/core/portalauth"/>
        </CaptivePortal>
    </Services>
</menu>
