<menu>
    <!-- Plugin Captiveportal menu -->
    <Services order="4" cssClass="glyphicon glyphicon-cog">
        <CaptivePortal VisibleName="Captive Portal" cssClass="fa fa-paper-plane-o">
            <Administration order="1"  url="/ui/captiveportal/"/>
            <Sessions order="2"  url="/ui/captiveportal/session/"/>
            <Log order="99"  VisibleName="Log File" url="/diag_logs_auth.php"/>
        </CaptivePortal>
    </Services>
</menu>
