<acl>
    <!-- ACLs for MVC code -->
    <page-vpn-ipsec-keypairs>
        <name>VPN: IPsec: Key Pairs</name>
        <description>Allow access to the IPsec Key Pairs</description>
        <patterns>
            <pattern>ui/ipsec/key-pairs/*</pattern>
            <pattern>api/ipsec/key-pairs/*</pattern>
            <pattern>api/ipsec/legacy-subsystem/*</pattern>
        </patterns>
    </page-vpn-ipsec-keypairs>
    <page-vpn-ipsec>
        <name>VPN: IPsec</name>
        <patterns>
            <pattern>ui/ipsec/tunnels</pattern>
            <pattern>api/ipsec/tunnel/*</pattern>
            <pattern>api/ipsec/legacy-subsystem/*</pattern>
        </patterns>
    </page-vpn-ipsec>

    <!-- ACLs for legacy code -->
    <page-vpn-ipsec-editphase1>
        <name>VPN: IPsec: Edit Phase 1</name>
        <patterns>
            <pattern>vpn_ipsec_phase1.php*</pattern>
        </patterns>
    </page-vpn-ipsec-editphase1>
    <page-vpn-ipsec-editphase2>
        <name>VPN: IPsec: Edit Phase 2</name>
        <patterns>
            <pattern>vpn_ipsec_phase2.php*</pattern>
        </patterns>
    </page-vpn-ipsec-editphase2>
    <page-vpn-ipsec-editkeys>
        <name>VPN: IPsec: Edit Pre-Shared Keys</name>
        <patterns>
            <pattern>api/ipsec/pre_shared_keys</pattern>
            <pattern>ui/ipsec/pre_shared_keys</pattern>
        </patterns>
    </page-vpn-ipsec-editkeys>
    <page-vpn-ipsec-mobile>
        <name>VPN: IPsec: Mobile</name>
        <patterns>
            <pattern>vpn_ipsec_mobile.php*</pattern>
        </patterns>
    </page-vpn-ipsec-mobile>
    <page-status-ipsec>
        <name>Status: IPsec</name>
        <patterns>
            <pattern>ui/ipsec/sessions</pattern>
            <pattern>api/ipsec/sessions/*</pattern>
        </patterns>
    </page-status-ipsec>
    <page-status-ipsec-leases>
        <name>Status: IPsec: Leasespage</name>
        <patterns>
            <pattern>ui/ipsec/leases</pattern>
            <pattern>api/ipsec/leases/*</pattern>
        </patterns>
    </page-status-ipsec-leases>
    <page-status-ipsec-sad>
        <name>Status: IPsec: SAD</name>
        <patterns>
            <pattern>ui/ipsec/sad</pattern>
            <pattern>api/ipsec/sad/*</pattern>
        </patterns>
    </page-status-ipsec-sad>
    <page-status-ipsec-spd>
        <name>Status: IPsec: SPD</name>
        <patterns>
            <pattern>ui/ipsec/spd</pattern>
            <pattern>api/ipsec/spd/*</pattern>
        </patterns>
    </page-status-ipsec-spd>
    <page-status-systemlogs-ipsecvpn>
        <name>Status: System logs: IPsec VPN</name>
        <patterns>
            <pattern>ui/diagnostics/log/core/ipsec/*</pattern>
            <pattern>api/diagnostics/log/core/ipsec/*</pattern>
        </patterns>
    </page-status-systemlogs-ipsecvpn>
</acl>
