*.DS_Store
*.codekit
*.mo
*.pyc
*.sass-cache
*.volt.php
/src/etc/php.ini
/src/etc/php/**
/src/etc/pkg.conf
/src/etc/pkg/**
/src/etc/ssh/**
/src/lib/**
/src/opnsense/changelog
/src/www/wpad.dat
/src/opnsense/version/*
!/src/opnsense/version/core.in
.idea/
.vscode/
/src/opnsense/www/.htrouter.php
