$colors: (
  brand-primary: #C03E14,
  content-background: lighten(#101218, 5%),
  body-background: #101218,
  navbar-default-color: #ECECEC,
  page-content-head-background: #101218,
  page-foot-background: #000,
  table-bg-accent: #373736,
  login-modal-head-background: #101218,
  navbar-default-bg: #101218,
  text-color: #ECECEC,
  border-default: #E5E5E5,
  dashboard-widget-error: #721c24,
  border-highlight: #AAA,
  chip-background: #31708f,
  chip-text: #ECECEC,
);
