<acl>
    <page-dhcp-kea-v4>
        <name>Services: DHCP: Kea(v4)</name>
        <description>Allow access to the KEA dhcp4 server</description>
        <patterns>
            <pattern>ui/kea/dhcp/v4</pattern>
            <pattern>ui/kea/dhcp/leases4</pattern>
            <pattern>api/kea/dhcpv4/*</pattern>
            <pattern>api/kea/leases4/*</pattern>
            <pattern>api/kea/service/*</pattern>
        </patterns>
    </page-dhcp-kea-v4>
    <page-dhcp-kea-v6>
        <name>Services: DHCP: Kea(v6)</name>
        <description>Allow access to the KEA dhcp6 server</description>
        <patterns>
            <pattern>ui/kea/dhcp/v6</pattern>
            <pattern>ui/kea/dhcp/leases6</pattern>
            <pattern>api/kea/dhcpv6/*</pattern>
            <pattern>api/kea/leases6/*</pattern>
            <pattern>api/kea/service/*</pattern>
        </patterns>
    </page-dhcp-kea-v6>
    <page-dhcp-kea-ctrl-agent>
        <name>Services: DHCP: Kea Ctrl Agent</name>
        <description>Allow access to the KEA Ctrl Agent</description>
        <patterns>
            <pattern>ui/kea/dhcp/ctrl_agent</pattern>
            <pattern>api/kea/ctrl_agent/*</pattern>
            <pattern>api/kea/service/*</pattern>
        </patterns>
    </page-dhcp-kea-ctrl-agent>
    <page-diagnostics-logs-kea>
        <name>Services: DHCP: Kea Log File</name>
        <description>Allow access to the KEA Log File</description>
        <patterns>
            <pattern>ui/diagnostics/log/core/kea/*</pattern>
            <pattern>api/diagnostics/log/core/kea/*</pattern>
        </patterns>
    </page-diagnostics-logs-kea>
</acl>
