<model>
    <mount>//OPNsense/Interfaces/settings</mount>
    <version>1.0.0</version>
    <description>Global interface settings</description>
    <items>
        <disablechecksumoffloading type="BooleanField">
            <Default>1</Default>
            <Required>Y</Required>
        </disablechecksumoffloading>
        <disablesegmentationoffloading type="BooleanField">
            <Default>1</Default>
            <Required>Y</Required>
        </disablesegmentationoffloading>
        <disablelargereceiveoffloading type="BooleanField">
            <Default>1</Default>
            <Required>Y</Required>
        </disablelargereceiveoffloading>
        <disablevlanhwfilter type="OptionField">
            <Default>2</Default>
            <Required>Y</Required>
            <OptionValues>
                <opt0 value="0">Enable VLAN Hardware Filtering</opt0>
                <opt1 value="1">Disable VLAN Hardware Filtering</opt1>
                <opt2 value="2">Leave default</opt2>
            </OptionValues>
        </disablevlanhwfilter>
        <sharednet type="BooleanField"/>
        <ipv6allow type="BooleanField">
            <Default>1</Default>
            <Required>Y</Required>
        </ipv6allow>
        <dhcp6_norelease type="BooleanField"/>
        <dhcp6_debug type="OptionField">
            <Default>0</Default>
            <Required>Y</Required>
            <OptionValues>
                <opt0 value="0">Standard</opt0>
                <opt1 value="1">Info</opt1>
                <opt2 value="2">Debug</opt2>
            </OptionValues>
        </dhcp6_debug>
        <ipv6duid type=".\DUIDField"/>
        <dhcp6_ratimeout type="IntegerField">
            <Default>10</Default>
            <Required>Y</Required>
        </dhcp6_ratimeout>
    </items>
</model>
