<menu>
    <Services>
        <Unbound VisibleName="Unbound DNS" cssClass="fa fa-tags fa-fw">
            <General order="10" url="/services_unbound.php"/>
            <Overrides order="20" url="/ui/unbound/overrides/"/>
            <Advanced order="30" url="/ui/unbound/advanced/"/>
            <ACL VisibleName="Access Lists" order="40" url="/services_unbound_acls.php">
                <All url="/services_unbound_acls.php*" visibility="hidden"/>
            </ACL>
            <Blocklist order="50" url="/ui/unbound/dnsbl/index"/>
            <Forward VisibleName="Query Forwarding" order="60" url="/ui/unbound/forward"/>
            <Dot VisibleName="DNS over TLS" order="70" url="/ui/unbound/dot"/>
            <Statistics order="90" url="/ui/unbound/stats"/>
            <LogFile VisibleName="Log File" order="100" url="/ui/diagnostics/log/core/resolver"/>
        </Unbound>
    </Services>
</menu>
