<menu>
    <Services>
        <Unbound VisibleName="Unbound DNS" cssClass="fa fa-tags fa-fw">
            <General order="10" url="/services_unbound.php"/>
            <Overrides order="20" url="/services_unbound_overrides.php">
                <Hosts url="/services_unbound_host_edit.php*" visibility="hidden"/>
                <Domains url="/services_unbound_domainoverride_edit.php*" visibility="hidden"/>
            </Overrides>
            <Advanced order="30" url="/services_unbound_advanced.php"/>
            <ACL VisibleName="Access Lists" order="40" url="/services_unbound_acls.php">
                <All url="/services_unbound_acls.php*" visibility="hidden"/>
            </ACL>
            <Blocklist order="50" url="/ui/unbound/dnsbl/index"/>
            <Dot VisibleName="DNS over TLS" order="60" url="/ui/unbound/dot/index"/>
            <Statistics order="90" url="/ui/unbound/stats"/>
            <LogFile VisibleName="Log File" order="100" url="/ui/diagnostics/log/core/resolver"/>
        </Unbound>
    </Services>
</menu>
