<menu>
    <Services>
        <Dnsmasq VisibleName="Dnsmasq DNS &amp; DHCP" cssClass="fa fa-tags fa-fw">
          <General order="10" url="/ui/dnsmasq/settings#general"/>
          <Domains order="20" url="/ui/dnsmasq/settings#domains"/>
          <Hosts order="30" url="/ui/dnsmasq/settings#hosts"/>
          <Dhcpranges VisibleName="DHCP ranges" order="50" url="/ui/dnsmasq/settings#dhcpranges"/>
          <Dhcpoptions VisibleName="DHCP options" order="60" url="/ui/dnsmasq/settings#dhcpoptions"/>
          <Dhcpboot VisibleName="DHCP boot" order="70" url="/ui/dnsmasq/settings#dhcpboot"/>
          <Dhcptags VisibleName="DHCP tags" order="80" url="/ui/dnsmasq/settings#dhcptags"/>
          <Leases order="90" url="/ui/dnsmasq/leases"/>
          <LogFile VisibleName="Log File" order="100" url="/ui/diagnostics/log/core/dnsmasq"/>
        </Dnsmasq>
    </Services>
</menu>
