<acl>
    <page-services-igmpproxy>
        <name>Services: Igmpproxy</name>
        <patterns>
            <pattern>services_igmpproxy.php*</pattern>
        </patterns>
    </page-services-igmpproxy>
    <page-services-igmpproxy-edit>
        <name>Services: Igmpproxy: Edit</name>
        <patterns>
            <pattern>services_igmpproxy_edit.php*</pattern>
        </patterns>
    </page-services-igmpproxy-edit>
</acl>
