<acl>
    <page-services-igmpproxy>
        <name>WebCfg - Services: Igmpproxy page</name>
        <description>Allow access to the 'Services: Igmpproxy' page.</description>
        <patterns>
            <pattern>services_igmpproxy.php*</pattern>
        </patterns>
    </page-services-igmpproxy>
    <page-services-igmpproxy-edit>
        <name>WebCfg - Services: Igmpproxy: Edit page</name>
        <description>Allow access to the 'Services: Igmpproxy: Edit' page.</description>
        <patterns>
            <pattern>services_igmpproxy_edit.php*</pattern>
        </patterns>
    </page-services-igmpproxy-edit>
</acl>
