<acl>
    <!-- unique acl key, must be globally unique for all acl's  -->
    <page-diagnostics-logs-pptp>
        <name>WebCfg - Diagnostics: Logs: PPTP page</name>
        <description>Allow access to the 'Diagnostics: Logs: PPTP' page.</description>
        <patterns>
            <pattern>diag_logs_pptp.php*</pattern>
        </patterns>
    </page-diagnostics-logs-pptp>
    <page-diagnostics-logs-poes>
        <name>WebCfg - Diagnostics: Logs: PPPoE page</name>
        <description>Allow access to the 'Diagnostics: Logs: PPPoE' page.</description>
        <patterns>
            <pattern>diag_logs_poes.php*</pattern>
        </patterns>
    </page-diagnostics-logs-poes>
    <page-diagnostics-logs-l2tp>
        <name>WebCfg - Diagnostics: Logs: L2TP page</name>
        <description>Allow access to the 'Diagnostics: Logs: L2TP' page.</description>
        <patterns>
            <pattern>diag_logs_l2tp.php*</pattern>
        </patterns>
    </page-diagnostics-logs-l2tp>
    <page-vpn-vpnl2tp>
        <name>WebCfg - VPN: L2TP page</name>
        <description>Allow access to the 'VPN: L2TP' page.</description>
        <patterns>
            <pattern>vpn_l2tp.php*</pattern>
        </patterns>
    </page-vpn-vpnl2tp>
    <page-vpn-vpnl2tp-users-edit>
        <name>WebCfg - VPN: L2TP: Users : Edit page</name>
        <description>Allow access to the 'VPN: L2TP: Users : Edit' page.</description>
        <patterns>
            <pattern>vpn_l2tp_users_edit.php*</pattern>
        </patterns>
    </page-vpn-vpnl2tp-users-edit>
    <page-vpn-vpnl2tp-users>
        <name>WebCfg - VPN: L2TP: Users page</name>
        <description>Allow access to the 'VPN: L2TP : Users' page.</description>
        <patterns>
            <pattern>vpn_l2tp_users.php*</pattern>
        </patterns>
    </page-vpn-vpnl2tp-users>
    <page-services-pppoeserver>
        <name>WebCfg - Services: PPPoE Server page</name>
        <description>Allow access to the 'Services: PPPoE Server' page.</description>
        <patterns>
            <pattern>vpn_pppoe.php*</pattern>
        </patterns>
    </page-services-pppoeserver>
    <page-services-pppoeserver-edit>
        <name>WebCfg - Services: PPPoE Server: Edit page</name>
        <description>Allow access to the 'Services: PPPoE Server: Edit' page.</description>
        <patterns>
            <pattern>vpn_pppoe_edit.php*</pattern>
        </patterns>
    </page-services-pppoeserver-edit>
    <page-vpn-vpnpptp>
        <name>WebCfg - VPN: PPTP page</name>
        <description>Allow access to the 'VPN: PPTP' page.</description>
        <patterns>
            <pattern>vpn_pptp.php*</pattern>
        </patterns>
    </page-vpn-vpnpptp>
    <page-vpn-vpnpptp-user-edit>
        <name>WebCfg - VPN: PPTP: User: Edit page</name>
        <description>Allow access to the 'VPN: PPTP: User: Edit' page.</description>
        <patterns>
            <pattern>vpn_pptp_users_edit.php*</pattern>
        </patterns>
    </page-vpn-vpnpptp-user-edit>
    <page-vpn-vpnpptp-users>
        <name>WebCfg - VPN: PPTP: Users page</name>
        <description>Allow access to the 'VPN: PPTP: Users' page.</description>
        <patterns>
            <pattern>vpn_pptp_users.php*</pattern>
        </patterns>
    </page-vpn-vpnpptp-users>
</acl>
