<acl>
   <page-services-monit>
      <name>WebCfg - Services: Monit System Monitoring page</name>
      <description>Allow access to the 'Services: Monit System Monitoring' page.</description>
      <patterns>
         <pattern>ui/monit/*</pattern>
         <pattern>api/monit/service/*</pattern>
         <pattern>api/monit/settings/*</pattern>
         <pattern>api/monit/status/*</pattern>
      </patterns>
   </page-services-monit>
</acl>
