<acl>
    <page-radvd-settings>
        <name>Services: Router Advertisements: Settings</name>
        <description>Allow access to Router Advertisement Settings</description>
        <patterns>
            <pattern>ui/radvd/settings/*</pattern>
            <pattern>api/radvd/settings/*</pattern>
        </patterns>
    </page-radvd-settings>
    <!-- XXX Does a Log file exist? -->
    <page-radvd-log>
        <name>Services: Router Advertisements: Log</name>
        <description>Allow access to Router Advertisement Logs</description>
        <patterns>
            <pattern>ui/diagnostics/log/core/radvd/*</pattern>
            <pattern>api/diagnostics/log/core/radvd/*</pattern>
        </patterns>
    </page-radvd-log>
</acl>
