<menu>
    <Firewall>
        <Automation order="1000" cssClass="fa fa-gear">
            <Filter order="50" url="/ui/firewall/filter/">
                <FilterRef url="/ui/firewall/filter#*" visibility="hidden"/>
            </Filter>
            <SourceNat order="100" VisibleName="Source NAT" url="/ui/firewall/source_nat/">
                <FilterRef url="/ui/firewall/source_nat#*" visibility="hidden"/>
            </SourceNat>
            <Npt order="100" VisibleName="NPTv6" url="/ui/firewall/npt/">
                <FilterRef url="/ui/firewall/npt#*" visibility="hidden"/>
            </Npt>
        </Automation>
    </Firewall>
</menu>
