<?xml version="1.0"?>
<opnsense>
    <interfaces>
        <wan>
            <if>if001</if>
            <descr>WAN</descr>
            <enable>1</enable>
            <ipaddr>dhcp</ipaddr>
        </wan>
        <lan>
            <if>if002</if>
            <descr>LAN</descr>
            <enable>1</enable>
        </lan>
        <opt1>
            <if>if003</if>
            <descr>OPT1</descr>
            <enable>1</enable>
        </opt1>
        <enc0>
            <internal_dynamic>1</internal_dynamic>
            <enable>1</enable>
            <if>enc0</if>
            <descr>IPsec</descr>
            <type>none</type>
            <virtual>1</virtual>
        </enc0>
    </interfaces>
    <laggs>
        <lagg>
            <members>if004,if005</members>
            <descr/>
            <laggif>lagg0</laggif>
            <proto>lacp</proto>
        </lagg>
    </laggs>
    <vlans>
        <vlan>
            <if>if006</if>
            <tag>4</tag>
            <pcp>0</pcp>
            <descr>test</descr>
            <vlanif>if006_vlan4</vlanif>
        </vlan>
    </vlans>
</opnsense>
