<acl>
    <!-- unique acl key, must be globally unique for all acl's  -->
    <page-services-proxy>
        <name>WebCfg - Services: Proxy page</name>
        <description>Allow access to the 'Services: Proxy' page.</description>
        <patterns>
            <pattern>ui/proxy/*</pattern>
            <pattern>api/proxy/*</pattern>
        </patterns>
    </page-services-proxy>
</acl>
