<acl>
    <page-services-proxy>
        <name>Services: Proxy</name>
        <patterns>
            <pattern>ui/proxy/*</pattern>
            <pattern>api/proxy/*</pattern>
            <pattern>ui/diagnostics/log/squid/*</pattern>
            <pattern>api/diagnostics/log/squid/*</pattern>
        </patterns>
    </page-services-proxy>
</acl>
