body {
	font-family      : Helvetica, Verdana, Arial, sans-serif;
	font-size        : 12px;
	color            : #000000;	
	margin:0px;		
}

a {
	color:#000000;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

#footer a {
	text-decoration:underline;
}

img {
	border: 0;
}

h2 {
	font-size:16px;
	margin:0px 0 5px 0;
	font-weight:normal;
}

#head {
	padding:5px 10px 10px 10px;
	border-bottom:1px solid #404040;
	background:url(../img/head.png) repeat-x;
}
#logo {
	float:left;
}
#logo h1 {
	font:normal 30px "Futura", Helvetica, Verdana;
	padding:0px;
	margin:0px;
}
#logo p {
	font:normal 11px "Verdana";
	margin:0px;
	padding:0px;
}

#options {
	float:right;
	width:580px;
	padding:10px 0 0 0;
}
#options form {
	margin:0px;
}

#main {
	margin:10px;
}

#hello_message {
	text-align: center;
	margin: 30px 0;
}

#trace_view {
	display:none;
}

#runtime_sum, 
#invocation_sum,
#shown_sum {
	font-weight: bold;
}

#footer {
	text-align: center;
	font: normal 11px;
}

div.hr {
	border-top: 1px solid black;
	margin:10px 5px;	
}

div.callinfo_area {
	display: none;
	margin: 5px 5px;
}

table.tablesorter {
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #D9D9D9;
	font-family:arial;
	margin:10px 0pt 15px;
	padding:0px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #D7DDE4;
	border-right: 1px solid #CDCDCD;
	border-bottom: 1px solid #CDCDCD;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #000000;
	border-right:1px solid #D9D9D9;
	padding: 4px;
	vertical-align: top;
}
table.tablesorter tbody tr.odd {
	background-color:#EAEEF2;
}
table.tablesorter tbody tr.even {
	background-color:#FFFFFF;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #9BA8C6;
}

td.nr {
	text-align: right;
	font-family: "Lucida Console", "Andale Mono", "Monaco", monospace;
}

th span{
	margin-right: 13px;
}

img.list_reload {
	margin:0px 5px;
}

.block_box {
	margin: 10px 10px;
}

.num { 
    display:block;
    clear:left;
	color: gray; 
	text-align: right; 
	margin-right: 6pt; 
	padding-right: 6pt; 
	border-right: 1px solid gray;
}

.line_emph {
	background-color: #bbbbff;
}
a.load_invocations {
	display: none;
	background-color: #999;
	border: 1px solid #333;
	padding: 2px;
}