<acl>
    <page-services-dnsresolver>
        <name>Services: Unbound DNS: General</name>
        <patterns>
            <pattern>ui/unbound/general</pattern>
            <pattern>api/unbound/general/*</pattern>
        </patterns>
    </page-services-dnsresolver>
    <page-services-dnsresolver-acls>
        <name>Services: Unbound DNS: Access Lists</name>
        <patterns>
            <pattern>ui/unbound/acl</pattern>
            <pattern>api/unbound/acl/*</pattern>
        </patterns>
    </page-services-dnsresolver-acls>
    <page-services-dnsresolver-advanced>
        <name>Services: Unbound DNS: Advanced</name>
        <patterns>
            <pattern>ui/unbound/advanced</pattern>
            <pattern>api/unbound/advanced/*</pattern>
        </patterns>
    </page-services-dnsresolver-advanced>
    <page-services-dnsresolver-overrides>
        <name>Services: Unbound DNS: Edit Host and Domain Override</name>
        <patterns>
            <pattern>ui/unbound/overrides</pattern>
            <pattern>api/unbound/settings/search_host_override/*</pattern>
            <pattern>api/unbound/settings/get_host_override/*</pattern>
            <pattern>api/unbound/settings/set_host_override/*</pattern>
            <pattern>api/unbound/settings/add_host_override/*</pattern>
            <pattern>api/unbound/settings/del_host_override/*</pattern>
            <pattern>api/unbound/settings/toggle_host_override/*</pattern>
            <pattern>api/unbound/settings/search_host_alias/*</pattern>
            <pattern>api/unbound/settings/get_host_alias/*</pattern>
            <pattern>api/unbound/settings/set_host_alias/*</pattern>
            <pattern>api/unbound/settings/add_host_alias/*</pattern>
            <pattern>api/unbound/settings/del_host_alias/*</pattern>
            <pattern>api/unbound/settings/toggle_host_alias/*</pattern>
            <pattern>api/unbound/settings/search_domain_override/*</pattern>
            <pattern>api/unbound/settings/get_domain_override/*</pattern>
            <pattern>api/unbound/settings/set_domain_override/*</pattern>
            <pattern>api/unbound/settings/add_domain_override/*</pattern>
            <pattern>api/unbound/settings/del_domain_override/*</pattern>
            <pattern>api/unbound/settings/toggle_domain_override/*</pattern>
        </patterns>
    </page-services-dnsresolver-overrides>
    <page-diagnostics-logs-resolver>
        <name>Services: Unbound DNS: Log File</name>
        <patterns>
            <pattern>ui/diagnostics/log/core/resolver/*</pattern>
            <pattern>api/diagnostics/log/core/resolver/*</pattern>
        </patterns>
    </page-diagnostics-logs-resolver>
    <page-services-unbound>
        <name>Services: Unbound (MVC)</name>
        <patterns>
            <pattern>ui/unbound/*</pattern>
            <pattern>api/unbound/*</pattern>
        </patterns>
    </page-services-unbound>
</acl>
