<acl>
    <page-services-dnsresolver>
        <name>Services: Unbound DNS: General</name>
        <patterns>
            <pattern>services_unbound.php*</pattern>
        </patterns>
    </page-services-dnsresolver>
    <page-services-dnsresolver-acls>
        <name>Services: Unbound DNS: Access Lists</name>
        <patterns>
            <pattern>services_unbound_acls.php*</pattern>
        </patterns>
    </page-services-dnsresolver-acls>
    <page-services-dnsresolver-advanced>
        <name>Services: Unbound DNS: Advanced</name>
        <patterns>
            <pattern>services_unbound_advanced.php*</pattern>
        </patterns>
    </page-services-dnsresolver-advanced>
    <page-services-dnsresolver-editdomainoverride>
        <name>Services: Unbound DNS: Edit Domain Override</name>
        <patterns>
            <pattern>services_unbound_overrides.php</pattern>
            <pattern>services_unbound_domainoverride_edit.php*</pattern>
        </patterns>
    </page-services-dnsresolver-editdomainoverride>
    <page-services-dnsresolver-edithost>
        <name>Services: Unbound DNS: Edit Host Override</name>
        <patterns>
            <pattern>services_unbound_overrides.php</pattern>
            <pattern>services_unbound_host_edit.php*</pattern>
        </patterns>
    </page-services-dnsresolver-edithost>
    <page-diagnostics-logs-resolver>
        <name>Services: Unbound DNS: Log File</name>
        <patterns>
            <pattern>ui/diagnostics/log/core/resolver/*</pattern>
            <pattern>api/diagnostics/log/core/resolver/*</pattern>
        </patterns>
    </page-diagnostics-logs-resolver>
    <page-services-unbound>
        <name>Services: Unbound (mvc)</name>
        <patterns>
            <pattern>ui/unbound/*</pattern>
            <pattern>api/unbound/*</pattern>
        </patterns>
    </page-services-unbound>
</acl>
