<acl>
    <page-services-dnsresolver>
        <name>Services: Unbound DNS: General</name>
        <patterns>
            <pattern>services_unbound.php*</pattern>
        </patterns>
    </page-services-dnsresolver>
    <page-services-dnsresolver-acls>
        <name>Services: Unbound DNS: Access Lists</name>
        <patterns>
            <pattern>services_unbound_acls.php*</pattern>
        </patterns>
    </page-services-dnsresolver-acls>
    <page-services-dnsresolver-advanced>
        <name>Services: Unbound DNS: Advanced</name>
        <patterns>
            <pattern>services_unbound_advanced.php*</pattern>
        </patterns>
    </page-services-dnsresolver-advanced>
    <page-services-dnsresolver-overrides>
        <name>Services: Unbound DNS: Edit Host and Domain Override</name>
        <patterns>
            <pattern>ui/unbound/overrides/*</pattern>
            <pattern>api/unbound/overrides/*</pattern>
        </patterns>
    </page-services-dnsresolver-overrides>
    <page-diagnostics-logs-resolver>
        <name>Services: Unbound DNS: Log File</name>
        <patterns>
            <pattern>ui/diagnostics/log/core/resolver/*</pattern>
            <pattern>api/diagnostics/log/core/resolver/*</pattern>
        </patterns>
    </page-diagnostics-logs-resolver>
    <page-services-unbound>
        <name>Services: Unbound (MVC)</name>
        <patterns>
            <pattern>ui/unbound/*</pattern>
            <pattern>api/unbound/*</pattern>
        </patterns>
    </page-services-unbound>
</acl>
