<menu>
    <!-- Core menu system including legacy stuff -->
    <User order="0" cssClass="glyphicon glyphicon-user">
        <ChangePassword VisibleName="Change password" url="/system_usermanager_passwordmg.php"/>
        <Logout VisibleName="Logout" url="/index.php?logout"/>
    </User>
    <System order="1" VisibleName="System" cssClass="glyphicon glyphicon-dashboard">
        <CertificateManager VisibleName="Certificate Manager" cssClass="fa fa-certificate">
            <Certificates url="/system_certmanager.php">
                <workAround url="/system_certmanager.php*"/>
            </Certificates>
            <Authorities url="/system_camanager.php">
                <workAround url="/system_camanager.php*"/>
            </Authorities>
            <Revocation url="/system_crlmanager.php">
                <workAround url="/system_crlmanager.php*"/>
            </Revocation>
        </CertificateManager>
        <ConfigManager VisibleName="Config Manager" cssClass="fa fa-book">
            <History url="/diag_confbak.php">
                <none url="/diag_confbak.php*"/>
            </History>
            <Backups url="/diag_backup.php"/>
        </ConfigManager>
        <CrashReporter VisibleName="Crash Reporter" url="/crash_reporter.php"/>
        <Firmware url="/ui/core/firmware/"/>
        <HighAvailability VisibleName="High Availability" cssClass="fa fa-refresh">
            <Synchronization url="/system_hasync.php"/>
            <CARPStatus order="100" visibleName="CARP Status" url="/carp_status.php"/>
        </HighAvailability>
        <Routes cssClass="fa fa-wrench">
            <All url="/system_routes.php">
                <Edit url="/system_routes_edit.php*"/>
            </All>
            <Status url="/diag_routes.php"/>
        </Routes>
        <Gateways cssClass="fa fa-location-arrow">
            <All url="/system_gateways.php">
                <Edit url="/system_gateways_edit.php*"/>
            </All>
            <Groups url="/system_gateway_groups.php">
                <Edit url="/system_gateway_groups_edit.php*"/>
            </Groups>
            <Status url="/status_gateways.php">
                <Groups url="/status_gateway_groups.php"/>
            </Status>
        </Gateways>
        <Settings url="/system_general.php">
            <General VisibleName="General" url="/system_general.php"/>
            <Admin_Access VisibleName="Admin Access" url="/system_advanced_admin.php"/>
            <Firewall_NAT VisibleName="Firewall/NAT" url="/system_advanced_firewall.php"/>
            <Networking url="/system_advanced_network.php"></Networking>
            <Miscellaneous url="/system_advanced_misc.php"/>
            <System_Tunables VisibleName="System Tunables" url="/system_advanced_sysctl.php"/>
            <Notifications url="/system_advanced_notifications.php"/>
        </Settings>
        <SetupWizard VisibleName="Setup Wizard" url="/wizard.php">
            <Step url="/wizard.php*"/>
        </SetupWizard>
        <UserManager VisibleName="User Manager" url="/system_usermanager.php">
            <Users url="/system_usermanager.php"/>
            <Groups url="/system_groupmanager.php"/>
            <Settings url="/system_usermanager_settings.php"/>
            <Servers url="/system_authservers.php*"/>
        </UserManager>
    </System>
    <Interfaces order="2" cssClass="glyphicon glyphicon-wrench">
        <Assign VisibleName="(Assign)" order="999" url="/interfaces_assign.php">
            <Bridge url="/interfaces_bridge.php"/>
            <BridgeEdit url="/interfaces_bridge_edit.php*"/>
            <GIF url="/interfaces_gif.php"/>
            <GIFEdit url="/interfaces_gif_edit.php*"/>
            <GRE url="/interfaces_gre.php"/>
            <GREEdit url="/interfaces_gre_edit.php*"/>
            <Groups url="/interfaces_groups.php"/>
            <GroupsEdit url="/interfaces_groups_edit.php*"/>
            <LAGG url="/interfaces_lagg.php"/>
            <LAGGEdit url="/interfaces_lagg_edit.php*"/>
            <PPP url="/interfaces_ppps.php"/>
            <PPPEdit url="/interfaces_ppps_edit.php*"/>
            <QinQ url="/interfaces_qinq.php"/>
            <QinQEdit url="/interfaces_qinq_edit.php*"/>
            <VLAN url="/interfaces_vlan.php"/>
            <VLANEdit url="/interfaces_vlan_edit.php*"/>
            <Wireless url="/interfaces_wireless.php"/>
            <WirelessEdit url="/interfaces_wireless_edit.php*"/>
        </Assign>
    </Interfaces>
    <Firewall order="3" cssClass="glyphicon glyphicon-fire">
        <Aliases cssClass="fa fa-list-alt">
            <All order="100"  url="/firewall_aliases.php?tab=all">
              <AliasesEdit url="/firewall_aliases_edit.php*"/>
              <none url="/firewall_aliases.php"/>
            </All>
            <IP order="200" url="/firewall_aliases.php?tab=ip"/>
            <Ports order="300"  url="/firewall_aliases.php?tab=port"/>
            <URLs  order="400"  url="/firewall_aliases.php?tab=url"/>
            <Import order="500" url="/firewall_aliases_import.php"/>
        </Aliases>
        <NAT cssClass="fa fa-exchange">
            <PortForward order="100" VisibleName="Port Forward" url="/firewall_nat.php">
              <NatEdit url="/firewall_nat_edit.php*"/>
            </PortForward>
            <OneOnOne order="200" VisibleName="1:1" url="/firewall_nat_1to1.php">
              <OneOnOneEdit url="/firewall_nat_1to1_edit.php*"/>
            </OneOnOne>
            <Outbound order="300" VisibleName="Outbound" url="/firewall_nat_out.php">
              <OutboundEdit url="/firewall_nat_out_edit.php*"/>
            </Outbound>
            <NPT VisibleName="NPT (IPv6)"  order="400" url="/firewall_nat_npt.php">
                <NPTEdit url="/firewall_nat_npt_edit.php*"/>
            </NPT>
        </NAT>
        <Rules url="/firewall_rules.php">
            <RulesEdit url="/firewall_rules_edit.php*"/>
            <Floating url="/firewall_rules.php?if=FloatingRules"/>
            <Interface url="/firewall_rules.php?if=*"/>
        </Rules>
        <Schedules url="/firewall_schedule.php">
            <SchedulesEdit url="/firewall_schedule_edit.php*"/>
        </Schedules>
        <TrafficShaper url="/ui/trafficshaper/" VisibleName="Traffic Shaper"/>
        <VirtualIPs VisibleName="Virtual IPs" url="/firewall_virtual_ip.php">
            <VirtualIPEdit url="/firewall_virtual_ip_edit.php*"/>
        </VirtualIPs>
        <Diagnostics order="900" VisibleName="Diagnostics" cssClass="glyphicon glyphicon-wrench">
            <pfInfo url="/diag_pf_info.php" VisibleName="pfInfo"/>
            <pfTop url="/diag_system_pftop.php" VisibleName="pfTop"/>
            <Tables url="/diag_tables.php">
                <TablesDetails url="/diag_tables.php*"/>
            </Tables>
            <StatesSummary VisibleName="States Summary" url="/diag_states_summary.php"/>
        </Diagnostics>
    </Firewall>

    <Services order="4" cssClass="glyphicon glyphicon-cog">
        <CaptivePortal VisibleName="Captive Portal" url="/services_captiveportal_zones.php">
            <Edit url="/services_captiveportal.php?zone=*"/>
            <IP url="/services_captiveportal_ip.php?zone=*"/>
            <IP_edit url="/services_captiveportal_ip_edit.php?zone=*"/>
            <MAC url="/services_captiveportal_mac.php?zone=*"/>
            <MAC_edit url="/services_captiveportal_mac_edit.php?zone=*"/>
            <Voucher url="/services_captiveportal_vouchers.php?zone=*"/>
            <FileManager url="/services_captiveportal_filemanager.php?zone=*"/>
        </CaptivePortal>
        <DHCPRelay VisibleName="DHCP Relay" url="/services_dhcp_relay.php"/>
        <DHCPServer VisibleName="DHCP Server" url="/services_dhcp.php">
            <DHCPServerTab url="/services_dhcp.php?if=*"/>
            <DHCPServerEdit url="/services_dhcp_edit.php?*"/>
        </DHCPServer>
        <DHCPv6Relay VisibleName="DHCPv6 Relay" url="/services_dhcpv6_relay.php"/>
        <DHCPv6ServerRA VisibleName="DHCPv6 Server/RA" url="/services_dhcpv6.php">
            <EditStaticMap url="/services_dhcpv6_edit.php?*"/>
            <RouterAdvertisement url="/services_router_advertisements.php?*"/>
        </DHCPv6ServerRA>
        <DNSFilter VisibleName="DNS Filter" url="/services_opendns.php"/>
        <DNSForwarder VisibleName="DNS Forwarder" url="/services_dnsmasq.php"/>
        <DNSResolver VisibleName="DNS Resolver" url="/services_unbound.php">
            <Advanced url="/services_unbound_advanced.php"/>
            <ACLs url="/services_unbound_acls.php*"/>
        </DNSResolver>
        <DynamicDNS VisibleName="Dynamic DNS" url="/services_dyndns.php">
            <DynamicDNSRFC2136Clients url="/services_rfc2136.php"/>
            <DynamicDNSRFC2136ClientsEdit url="/services_rfc2136_edit.php"/>
            <DynamicDNSEdit url="/services_dyndns_edit.php"/>
        </DynamicDNS>
        <IGMPProxy VisibleName="IGMP Proxy" url="/services_igmpproxy.php">
            <IGMPProxyEdit url="/services_igmpproxy_edit.php"/>
        </IGMPProxy>
        <LoadBalancer VisibleName="Load Balancer" url="/load_balancer_pool.php">
            <Edit url="/load_balancer_pool_edit.php"/>
            <VirtualServer url="/load_balancer_virtual_server.php"/>
            <VirtualServerEdit url="/load_balancer_virtual_server_edit.php"/>
            <Monitors url="/load_balancer_monitor.php"/>
            <Settings url="/load_balancer_setting.php"/>
        </LoadBalancer>
        <NTP VisibleName="Network Time Protocol" url="/services_ntpd.php">
            <GPS url="/services_ntpd_gps.php"/>
            <PPS url="/services_ntpd_pps.php"/>
        </NTP>
        <PPPoEServer VisibleName="PPPoE Server" url="/vpn_pppoe.php">
            <PPPoeServerEdit url="/vpn_pppoe_edit.php"/>
        </PPPoEServer>
        <Proxy VisibleName="Proxy Server" url="/ui/proxy/"/>
        <SNMP VisibleName="SNMP" url="/services_snmp.php"/>
        <UPnP VisibleName="Universal Plug and Play" url="/services_upnp.php">
            <UPnPEdit url="/services_upnp.php?*"/>
        </UPnP>
        <WoL VisibleName="Wake on LAN" url="/services_wol.php">
            <WoLEdit url="/services_wol_edit.php*"/>
        </WoL>
    </Services>

    <VPN order="5" cssClass="glyphicon glyphicon-lock">
        <IPsec url="/vpn_ipsec.php">
            <IPsecPhase1Edit url="/vpn_ipsec_phase1.php*"/>
            <IPsecPhase2Edit url="/vpn_ipsec_phase2.php*"/>
            <MobileClients url="/vpn_ipsec_mobile.php"/>
            <Keys url="/vpn_ipsec_keys.php"/>
            <KeysEdit url="/vpn_ipsec_keys_edit.php"/>
            <AdvancedSettings url="/vpn_ipsec_settings.php"/>
        </IPsec>
        <L2TP url="/vpn_l2tp.php">
            <L2TPUsers url="/vpn_l2tp_users.php"/>
            <L2TPUsersEdit url="/vpn_l2tp_users_edit.php*"/>
        </L2TP>
        <OpenVPN url="/vpn_openvpn_server.php">
            <ServerEdit url="/vpn_openvpn_server.php?*"/>
            <Client url="/vpn_openvpn_client.php*"/>
            <CSC url="/vpn_openvpn_csc.php*"/>
            <ClientExport url="/vpn_openvpn_export.php*"/>
            <SharedKeyExport url="/vpn_openvpn_export_shared.php"/>
        </OpenVPN>
        <PPTP url="/vpn_pptp.php">
            <PPTPUsers url="/vpn_pptp_users.php"/>
            <PPTPUsersEdit url="/vpn_pptp_users_edit.php"/>
        </PPTP>
    </VPN>

    <Status order="6" cssClass="glyphicon glyphicon-tasks">
        <CaptivePortal VisibleName="Captive Portal" url="/status_captiveportal.php">
            <CaptivePortalDetails url="/status_captiveportal.php?*"/>
        </CaptivePortal>
        <DHCPLeases VisibleName="DHCP IPv4 Leases" url="/status_dhcp_leases.php">
            <DHCPLeasesDetails url="/status_dhcp_leases.php?*"/>
        </DHCPLeases>
        <DHCPv6Leases VisibleName="DHCP IPv6 Leases" url="/status_dhcpv6_leases.php">
            <DHCPv6LeasesDetails url="/status_dhcpv6_leases.php?*"/>
        </DHCPv6Leases>
        <FilterReload VisibleName="Filter Reload" url="/status_filter_reload.php"/>
        <Interfaces url="/status_interfaces.php"/>
        <IPsec url="/diag_ipsec.php">
            <IPsecACT url="/diag_ipsec.php?*"/>
            <Leases url="/diag_ipsec_leases.php"/>
            <SAD url="/diag_ipsec_sad.php"/>
            <SPD url="/diag_ipsec_spd.php"/>
        </IPsec>
        <LoadBalancer VisibleName="Load Balancer" url="/status_lb_pool.php">
            <VirtualServers url="/status_lb_vs.php"/>
        </LoadBalancer>
        <NTP url="/status_ntpd.php"/>
        <OpenVPN url="/status_openvpn.php"/>
        <RRDGraphs VisibleName="RRD Graphs" url="/status_rrd_graph.php">
            <Settings url="/status_rrd_graph_settings.php"/>
        </RRDGraphs>
        <Services url="/status_services.php">
            <ServicesActions url="/status_services.php?*"/>
        </Services>
        <SystemLogs VisibleName="System Logs" url="/diag_logs.php">
            <System url="/diag_logs.php">
                <Gateways url="/diag_logs_gateways.php"/>
                <Routing url="/diag_logs_routing.php"/>
                <Resolver url="/diag_logs_resolver.php"/>
                <Wireless url="/diag_logs_wireless.php"/>
            </System>
            <Firewall url="/diag_logs_filter.php">
                <DynamicView url="/diag_logs_filter_dynamic.php"/>
                <SummaryView url="/diag_logs_filter_summary.php"/>
            </Firewall>
            <DHCP url="/diag_logs_dhcp.php"/>
            <PortalAuth url="/diag_logs_auth.php"/>
            <IPsec url="/diag_logs_ipsec.php"/>
            <PPP url="/diag_logs_ppp.php"/>
            <VPN url="/diag_logs_vpn.php*"/>
            <LoadBalancer url="/diag_logs_relayd.php"/>
            <OpenVPN url="/diag_logs_openvpn.php"/>
            <NTP url="/diag_logs_ntpd.php"/>
            <Proxy url="/diag_logs_proxy.php">
                <ProxyActions url="/diag_logs_proxy.php?*"/>
            </Proxy>
            <Settings url="/diag_logs_settings.php"/>
        </SystemLogs>

        <TrafficGraphs VisibleName="Traffic Graphs" url="/status_graph.php">
            <TrafficGraphsDetails url="/status_graph.php?*"/>
        </TrafficGraphs>
        <UPnP VisibleName="Universal Plug and Play" url="/status_upnp.php"/>
    </Status>

    <Diagnostics order="7" cssClass="glyphicon glyphicon-stats">
        <ARPTable VisibleName="ARP Table" url="/diag_arp.php"/>
        <Authentication url="/diag_authentication.php"/>
        <DNSLookup VisibleName="DNS Lookup" url="/diag_dns.php"/>
        <FactoryDefaults VisibleName="Factory Defaults" url="/diag_defaults.php"/>
        <HaltSystem VisibleName="Halt System" url="/diag_halt.php"/>
        <LimiterInfo VisibleName="Limiter Info" url="/diag_limiter_info.php"/>
        <NDPTable VisibleName="NDP Table" url="/diag_ndp.php"/>
        <PacketCapture VisibleName="Packet Capture" url="/diag_packet_capture.php"/>
        <Ping url="/diag_ping.php"/>
        <Reboot url="/diag_reboot.php"/>
        <SmartStatus VisibleName="SMART Status" url="/diag_smart.php"/>
        <Sockets url="/diag_sockets.php">
            <SocketsDetails url="/diag_sockets.php?*"/>
        </Sockets>
        <States url="/diag_dump_states.php"/>
        <SystemActivity VisibleName="System Activity" url="/diag_system_activity.php"/>
        <TestPort VisibleName="Test Port" url="/diag_testport.php"/>
        <Traceroute url="/diag_traceroute.php"/>
    </Diagnostics>

    <Help order="8" cssClass="glyphicon glyphicon-question-sign">
        <AboutThisPage VisibleName="About this Page" url="/help.php" IsExternal="Y"/>
        <DevelopersWiki VisibleName="Developers Wiki" url="https://wiki.opnsense.org/index.php/developers"
                        IsExternal="Y"/>
        <Documentation url="https://wiki.opnsense.org/" IsExternal="Y"/>
        <FreeBSDHandbook VisibleName="FreeBSD Handbook" url="https://www.freebsd.org/doc/en/books/handbook/"
                         IsExternal="Y"/>
        <PaidSupport VisibleName="Paid Support" url="https://opnsense.org/support-overview/commercial-support/"
                     IsExternal="Y"/>
        <UserForum VisibleName="User Forum" url="https://forum.opnsense.org/" IsExternal="Y"/>
    </Help>

</menu>
