<menu>
    <System>
        <Health order="0" url="/ui/diagnostics/systemhealth/" cssClass="fa fa-heartbeat fa-fw"/>
        <Diagnostics order="160" url="/ui/diagnostics/activity/" cssClass="fa fa-medkit fa-fw"/>
        <Routes>
            <Status order="20" url="/ui/diagnostics/interface/routes/"/>
        </Routes>
        <Settings>
          <Netflow order="1000" VisibleName="NetFlow" url="/ui/diagnostics/netflow/"/>
        </Settings>
    </System>
    <Interfaces>
        <Diagnostics>
            <ARPTable order="10" VisibleName="ARP Table" url="/ui/diagnostics/interface/arp/"/>
            <NDPTable order="30" VisibleName="NDP Table" url="/ui/diagnostics/interface/ndp/"/>
        </Diagnostics>
    </Interfaces>
</menu>
