<menu>
    <Reporting>
        <Health url="/ui/diagnostics/systemhealth" cssClass="fa fa-heartbeat fa-fw"/>
        <Insight url="/ui/diagnostics/networkinsight" cssClass="fa fa-binoculars fa-fw" />
        <NetFlow url="/ui/diagnostics/netflow" cssClass="fa fa-rss fa-fw"/>
    </Reporting>
    <System>
        <Diagnostics>
            <Activity url="/ui/diagnostics/activity" />
            <Statistics url="/ui/diagnostics/system/memory" />
        </Diagnostics>
        <Routes>
            <Status order="20" url="/ui/diagnostics/interface/routes"/>
        </Routes>
    </System>
    <Interfaces>
        <Diagnostics>
            <ARPTable VisibleName="ARP Table" url="/ui/diagnostics/interface/arp"/>
            <NDPTable VisibleName="NDP Table" url="/ui/diagnostics/interface/ndp"/>
            <Netstat VisibleName="Netstat" url="/ui/diagnostics/interface/netstat"/>
        </Diagnostics>
    </Interfaces>
</menu>
