<menu>
    <Services>
        <DHCP VisibleName="DHCP (new)" cssClass="fa fa-bullseye fa-fw">
            <KEAv4 order="5" VisibleName="KEA DHCPv4" url="/ui/kea/dhcp/v4"/>
            <LogFile order="100" VisibleName="Log File" url="/ui/diagnostics/log/core/kea"/>
        </DHCP>
    </Services>
</menu>