<menu>
    <Firewall>
        <Shaper order="40" cssClass="fa fa-filter fa-fw">
            <Settings order="10" url="/ui/trafficshaper">
                <Pipes url="/ui/trafficshaper#pipes"/>
                <Queues url="/ui/trafficshaper#queues"/>
                <Rules url="/ui/trafficshaper#rules"/>
            </Settings>
            <Status order="20" url="/diag_limiter_info.php"/>
        </Shaper>
    </Firewall>
</menu>
