<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenVPNManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenVPNManager.Properties.Settings>
            <setting name="vpnbin" serializeAs="String">
                <value />
            </setting>
            <setting name="vpnconf" serializeAs="String">
                <value />
            </setting>
            <setting name="debugLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="firstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startMinimized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="searchUpdate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastUpdateCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="allowRemoteControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="callUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="smartCardSupport" serializeAs="String">
                <value>False</value>
            </setting>
        </OpenVPNManager.Properties.Settings>
    </userSettings>
</configuration>