<acl>
    <user-config-readonly>
        <name>System: Deny config write</name>
    </user-config-readonly>
    <page-diagnostics-backup-restore>
        <name>Diagnostics: Backup / Restore</name>
        <patterns>
            <pattern>diag_backup.php*</pattern>
        </patterns>
    </page-diagnostics-backup-restore>
    <page-system-login-logout>
        <name>Lobby: Login / Logout / Dashboard</name>
        <patterns>
            <pattern>index.php*</pattern>
        </patterns>
    </page-system-login-logout>
    <page-getserviceproviders>
        <name>AJAX: Get Service Providers</name>
        <patterns>
            <pattern>ui/core/license</pattern>
            <pattern>getserviceproviders.php*</pattern>
        </patterns>
    </page-getserviceproviders>
    <page-getstats>
        <name>AJAX: Get Stats</name>
        <patterns>
            <pattern>ui/core/license</pattern>
            <pattern>widgets/api/get.php*</pattern>
        </patterns>
    </page-getstats>
    <page-all>
        <name>All pages</name>
        <patterns>
            <pattern>*</pattern>
        </patterns>
    </page-all>
    <page-diagnostics-crash-reporter>
        <name>System: Crash Reporter</name>
        <patterns>
            <pattern>crash_reporter.php*</pattern>
        </patterns>
    </page-diagnostics-crash-reporter>
    <page-dashboard-all>
        <name>Dashboard (all)</name>
        <patterns>
            <pattern>index.php*</pattern>
            <pattern>widgets/widgets/*.widget.php*</pattern>
            <pattern>widgets/api/get.php*</pattern>
            <pattern>api/diagnostics/dns/reverse_lookup*</pattern>
            <pattern>api/routes/gateway/status*</pattern>
            <pattern>api/diagnostics/interface/getInterfaceNames</pattern>
            <pattern>api/diagnostics/firewall/log</pattern>
            <pattern>api/monit/status/get/xml</pattern>
            <pattern>api/diagnostics/traffic/interface</pattern>
        </patterns>
    </page-dashboard-all>
    <page-dashboard-widgets>
        <name>Dashboard (widgets only)</name>
        <patterns>
            <pattern>widgets/widgets/*.widget.php*</pattern>
            <pattern>api/routes/gateway/status*</pattern>
            <pattern>api/diagnostics/interface/getInterfaceNames</pattern>
            <pattern>api/diagnostics/firewall/log</pattern>
            <pattern>api/monit/status/get/xml</pattern>
        </patterns>
    </page-dashboard-widgets>
    <page-diagnostics-authentication>
        <name>Diagnostics: Authentication</name>
        <patterns>
            <pattern>diag_authentication.php*</pattern>
        </patterns>
    </page-diagnostics-authentication>
    <page-diagnostics-configurationhistory>
        <name>Diagnostics: Configuration History</name>
        <patterns>
            <pattern>diag_confbak.php*</pattern>
        </patterns>
    </page-diagnostics-configurationhistory>
    <page-diagnostics-factorydefaults>
        <name>Diagnostics: Factory defaults</name>
        <patterns>
            <pattern>diag_defaults.php*</pattern>
        </patterns>
    </page-diagnostics-factorydefaults>
    <page-diagnostics-haltsystem>
        <name>Diagnostics: Halt system</name>
        <patterns>
            <pattern>ui/core/halt</pattern>
            <pattern>api/core/system/halt</pattern>
        </patterns>
    </page-diagnostics-haltsystem>
    <page-diagnostics-limiter-info>
        <name>Diagnostics: Shaper status</name>
        <patterns>
            <pattern>ui/trafficshaper/service/statistics/*</pattern>
            <pattern>api/trafficshaper/service/statistics/*</pattern>
        </patterns>
    </page-diagnostics-limiter-info>
    <page-diagnostics-logs-dhcp>
        <name>Diagnostics: Logs: DHCP</name>
        <patterns>
            <pattern>ui/diagnostics/log/core/dhcp/*</pattern>
            <pattern>api/diagnostics/log/core/dhcp/*</pattern>
        </patterns>
    </page-diagnostics-logs-dhcp>
    <page-diagnostics-logs-gateways>
        <name>Diagnostics: Logs: Gateways</name>
        <patterns>
            <pattern>ui/diagnostics/log/core/gateways/*</pattern>
            <pattern>api/diagnostics/log/core/gateways/*</pattern>
        </patterns>
    </page-diagnostics-logs-gateways>
    <page-diagnostics-logs-settings>
        <name>Diagnostics: Logs: Settings</name>
        <patterns>
            <pattern>diag_logs_settings.php*</pattern>
        </patterns>
    </page-diagnostics-logs-settings>
    <page-diagnostics-logs-system>
        <name>Diagnostics: Logs: System</name>
        <patterns>
            <pattern>ui/diagnostics/log/core/configd/*</pattern>
            <pattern>api/diagnostics/log/core/configd/*</pattern>
            <pattern>ui/diagnostics/log/core/system/*</pattern>
            <pattern>api/diagnostics/log/core/system/*</pattern>
            <pattern>ui/diagnostics/log/core/lighttpd/*</pattern>
            <pattern>api/diagnostics/log/core/lighttpd/*</pattern>
        </patterns>
    </page-diagnostics-logs-system>
    <page-diagnostics-packetcapture>
        <name>Diagnostics: Packet Capture</name>
        <patterns>
            <pattern>diag_packet_capture.php*</pattern>
        </patterns>
    </page-diagnostics-packetcapture>
    <page-diagnostics-tables>
        <name>Diagnostics: PF Table IP addresses</name>
        <patterns>
            <pattern>ui/firewall/alias_util/*</pattern>
            <pattern>api/firewall/alias_util/*</pattern>
        </patterns>
    </page-diagnostics-tables>
    <page-diagnostics-pf-info>
        <name>Diagnostics: pfInfo</name>
        <patterns>
            <pattern>diag_pf_info.php*</pattern>
        </patterns>
    </page-diagnostics-pf-info>
    <page-diagnostics-system-pftop>
        <name>Diagnostics: pfTop</name>
        <patterns>
            <pattern>diag_system_pftop.php*</pattern>
        </patterns>
    </page-diagnostics-system-pftop>
    <page-diagnostics-ping>
        <name>Diagnostics: Ping</name>
        <patterns>
            <pattern>diag_ping.php*</pattern>
        </patterns>
    </page-diagnostics-ping>
    <page-diagnostics-rebootsystem>
        <name>Diagnostics: Reboot System</name>
        <patterns>
            <pattern>ui/core/reboot</pattern>
            <pattern>api/core/system/reboot</pattern>
        </patterns>
    </page-diagnostics-rebootsystem>
    <page-diagnostics-showstates>
        <name>Diagnostics: Show States</name>
        <patterns>
            <pattern>ui/diagnostics/firewall/states*</pattern>
            <pattern>api/diagnostics/firewall/query_states*</pattern>
            <pattern>api/diagnostics/firewall/del_state*</pattern>
            <pattern>api/diagnostics/firewall/kill_states*</pattern>
            <pattern>api/diagnostics/firewall/flush_sources*</pattern>
            <pattern>api/diagnostics/firewall/flush_states*</pattern>
        </patterns>
    </page-diagnostics-showstates>
    <page-diagnostics-testport>
        <name>Diagnostics: Test Port</name>
        <patterns>
            <pattern>diag_testport.php*</pattern>
        </patterns>
    </page-diagnostics-testport>
    <page-diagnostics-traceroute>
        <name>Diagnostics: Traceroute</name>
        <patterns>
            <pattern>diag_traceroute.php*</pattern>
        </patterns>
    </page-diagnostics-traceroute>
    <page-firewall-alias-edit>
        <name>Firewall: Alias: Edit</name>
        <patterns>
            <pattern>ui/firewall/alias/*</pattern>
            <pattern>api/firewall/alias/*</pattern>
        </patterns>
    </page-firewall-alias-edit>
    <page-firewall-aliases>
        <name>Firewall: Aliases</name>
        <patterns>
            <pattern>ui/firewall/alias/*</pattern>
            <pattern>api/firewall/alias/export</pattern>
            <pattern>api/firewall/alias/search*</pattern>
            <pattern>api/firewall/alias/list*</pattern>
            <pattern>api/firewall/alias/get*</pattern>
        </patterns>
    </page-firewall-aliases>
    <page-firewall-categories>
        <name>Firewall: Categories</name>
        <patterns>
            <pattern>ui/firewall/category/*</pattern>
            <pattern>api/firewall/category/*</pattern>
        </patterns>
    </page-firewall-categories>
    <page-firewall-nat-1-1>
        <name>Firewall: NAT: 1:1</name>
        <patterns>
            <pattern>firewall_nat_1to1.php*</pattern>
        </patterns>
    </page-firewall-nat-1-1>
    <page-firewall-nat-1-1-edit>
        <name>Firewall: NAT: 1:1: Edit</name>
        <patterns>
            <pattern>firewall_nat_1to1_edit.php*</pattern>
        </patterns>
    </page-firewall-nat-1-1-edit>
    <page-firewall-nat-npt>
        <name>Firewall: NAT: NPT</name>
        <patterns>
            <pattern>firewall_nat_npt.php*</pattern>
        </patterns>
    </page-firewall-nat-npt>
    <page-firewall-nat-npt-edit>
        <name>Firewall: NAT: NPT: Edit</name>
        <patterns>
            <pattern>firewall_nat_npt_edit.php*</pattern>
        </patterns>
    </page-firewall-nat-npt-edit>
    <page-firewall-nat-outbound>
        <name>Firewall: NAT: Outbound</name>
        <patterns>
            <pattern>firewall_nat_out.php*</pattern>
            <pattern>api/firewall/category/searchItem*</pattern>
        </patterns>
    </page-firewall-nat-outbound>
    <page-firewall-nat-outbound-edit>
        <name>Firewall: NAT: Outbound: Edit</name>
        <patterns>
            <pattern>firewall_nat_out_edit.php*</pattern>
        </patterns>
    </page-firewall-nat-outbound-edit>
    <page-firewall-nat-portforward>
        <name>Firewall: NAT: Port Forward</name>
        <patterns>
            <pattern>firewall_nat.php*</pattern>
            <pattern>api/firewall/category/searchItem*</pattern>
        </patterns>
    </page-firewall-nat-portforward>
    <page-firewall-nat-portforward-edit>
        <name>Firewall: NAT: Port Forward: Edit</name>
        <patterns>
            <pattern>firewall_nat_edit.php*</pattern>
        </patterns>
    </page-firewall-nat-portforward-edit>
    <page-firewall-rules>
        <name>Firewall: Rules</name>
        <patterns>
            <pattern>firewall_rules.php*</pattern>
            <pattern>api/firewall/category/searchItem*</pattern>
        </patterns>
    </page-firewall-rules>
    <page-firewall-rules-edit>
        <name>Firewall: Rules: Edit</name>
        <patterns>
            <pattern>firewall_rules_edit.php*</pattern>
        </patterns>
    </page-firewall-rules-edit>
    <page-firewall-schedules>
        <name>Firewall: Schedules</name>
        <patterns>
            <pattern>firewall_schedule.php*</pattern>
        </patterns>
    </page-firewall-schedules>
    <page-firewall-scrub>
        <name>Firewall: Normalization</name>
        <patterns>
            <pattern>firewall_scrub.php*</pattern>
            <pattern>firewall_scrub_edit.php*</pattern>
        </patterns>
    </page-firewall-scrub>
    <page-firewall-schedules-edit>
        <name>Firewall: Schedules: Edit</name>
        <patterns>
            <pattern>firewall_schedule_edit.php*</pattern>
        </patterns>
    </page-firewall-schedules-edit>
    <page-firewall-virtualipaddress-edit>
        <name>Firewall: Virtual IP Address: Edit</name>
        <patterns>
            <pattern>firewall_virtual_ip_edit.php*</pattern>
        </patterns>
    </page-firewall-virtualipaddress-edit>
    <page-firewall-virtualipaddresses>
        <name>Firewall: Virtual IP Addresses</name>
        <patterns>
            <pattern>firewall_virtual_ip.php*</pattern>
        </patterns>
    </page-firewall-virtualipaddresses>
    <page-diagnostics-logs-firewall-plain>
        <name>Diagnostics: Logs: Firewall: Plain View</name>
        <patterns>
            <pattern>ui/diagnostics/log/core/filter/*</pattern>
            <pattern>api/diagnostics/log/core/filter/*</pattern>
        </patterns>
    </page-diagnostics-logs-firewall-plain>
    <page-diagnostics-logs-firewall-dynamic>
        <name>Diagnostics: Logs: Firewall: Live View</name>
        <patterns>
            <pattern>ui/diagnostics/firewall/log*</pattern>
            <pattern>api/diagnostics/firewall/log*</pattern>
            <pattern>api/diagnostics/interface/getInterfaceNames*</pattern>
            <pattern>api/diagnostics/dns/reverse_lookup*</pattern>
        </patterns>
    </page-diagnostics-logs-firewall-dynamic>
    <page-diagnostics-logs-firewall-summary>
        <name>Diagnostics: Logs: Firewall: Summary View</name>
        <patterns>
            <pattern>ui/diagnostics/firewall/stats*</pattern>
            <pattern>api/diagnostics/firewall/stats*</pattern>
        </patterns>
    </page-diagnostics-logs-firewall-summary>
    <page-interfaces-assignnetworkports>
        <name>Interfaces: Assign network ports</name>
        <patterns>
            <pattern>interfaces_assign.php*</pattern>
        </patterns>
    </page-interfaces-assignnetworkports>
    <page-interfaces-bridge-edit>
        <name>Interfaces: Bridge edit</name>
        <patterns>
            <pattern>interfaces_bridge_edit.php*</pattern>
        </patterns>
    </page-interfaces-bridge-edit>
    <page-interfaces-bridge>
        <name>Interfaces: Bridge</name>
        <patterns>
            <pattern>interfaces_bridge.php*</pattern>
        </patterns>
    </page-interfaces-bridge>
    <page-interfaces-gif>
        <name>Interfaces: GIF</name>
        <patterns>
            <pattern>interfaces_gif.php*</pattern>
        </patterns>
    </page-interfaces-gif>
    <page-interfaces-gif-edit>
        <name>Interfaces: GIF: Edit</name>
        <patterns>
            <pattern>interfaces_gif_edit.php*</pattern>
        </patterns>
    </page-interfaces-gif-edit>
    <page-interfaces-gre>
        <name>Interfaces: GRE</name>
        <patterns>
            <pattern>interfaces_gre.php*</pattern>
        </patterns>
    </page-interfaces-gre>
    <page-interfaces-gre-edit>
        <name>Interfaces: GRE: Edit</name>
        <patterns>
            <pattern>interfaces_gre_edit.php*</pattern>
        </patterns>
    </page-interfaces-gre-edit>
    <page-interfaces-groups>
        <name>Interfaces: Groups</name>
        <patterns>
            <pattern>interfaces_groups.php*</pattern>
        </patterns>
    </page-interfaces-groups>
    <page-interfaces-groups-edit>
        <name>Interfaces: Groups: Edit</name>
        <patterns>
            <pattern>interfaces_groups_edit.php*</pattern>
        </patterns>
    </page-interfaces-groups-edit>
    <page-interfaces-lagg-edit>
        <name>Interfaces: LAGG: Edit</name>
        <patterns>
            <pattern>interfaces_lagg_edit.php*</pattern>
        </patterns>
    </page-interfaces-lagg-edit>
    <page-interfaces-lagg>
        <name>Interfaces: LAGG</name>
        <patterns>
            <pattern>interfaces_lagg.php*</pattern>
        </patterns>
    </page-interfaces-lagg>
    <page-interfaces-ppps>
        <name>Interfaces: PPPs</name>
        <patterns>
            <pattern>interfaces_ppps.php*</pattern>
        </patterns>
    </page-interfaces-ppps>
    <page-interfaces-ppps-edit>
        <name>Interfaces: PPPs: Edit</name>
        <patterns>
            <pattern>interfaces_ppps_edit.php*</pattern>
        </patterns>
    </page-interfaces-ppps-edit>
    <page-interfaces-vlan>
        <name>Interfaces: VLAN</name>
        <patterns>
            <pattern>interfaces_vlan.php*</pattern>
        </patterns>
    </page-interfaces-vlan>
    <page-interfaces-vlan-edit>
        <name>Interfaces: VLAN: Edit</name>
        <patterns>
            <pattern>interfaces_vlan_edit.php*</pattern>
        </patterns>
    </page-interfaces-vlan-edit>
    <page-interfaces>
        <name>Interfaces: WAN</name>
        <patterns>
            <pattern>interfaces.php*</pattern>
        </patterns>
    </page-interfaces>
    <page-interfaces-wireless-edit>
        <name>Interfaces: Wireless edit</name>
        <patterns>
            <pattern>interfaces_wireless_edit.php*</pattern>
        </patterns>
    </page-interfaces-wireless-edit>
    <page-interfaces-wireless>
        <name>Interfaces: Wireless</name>
        <patterns>
            <pattern>interfaces_wireless.php*</pattern>
        </patterns>
    </page-interfaces-wireless>
    <page-wizard-system>
        <name>System Setup Wizard</name>
        <patterns>
            <pattern>wizard.php?xml=system</pattern>
        </patterns>
    </page-wizard-system>
    <page-services-dhcprelay>
        <name>Services: DHCP Relay</name>
        <patterns>
            <pattern>services_dhcp_relay.php*</pattern>
        </patterns>
    </page-services-dhcprelay>
    <page-services-dhcpserver-editstaticmapping>
        <name>Services: DHCP Server: Edit static mapping</name>
        <patterns>
            <pattern>services_dhcp_edit.php*</pattern>
        </patterns>
    </page-services-dhcpserver-editstaticmapping>
    <page-services-dhcpserver>
        <name>Services: DHCP server</name>
        <patterns>
            <pattern>services_dhcp.php*</pattern>
        </patterns>
    </page-services-dhcpserver>
    <page-services-dhcpv6relay>
        <name>Services: DHCPv6 Relay</name>
        <patterns>
            <pattern>services_dhcpv6_relay.php*</pattern>
        </patterns>
    </page-services-dhcpv6relay>
    <page-services-dhcpserverv6-editstaticmapping>
        <name>Services: DHCPv6 Server: Edit static mapping</name>
        <patterns>
            <pattern>services_dhcpv6_edit.php*</pattern>
        </patterns>
    </page-services-dhcpserverv6-editstaticmapping>
    <page-services-dhcpv6server>
        <name>Services: DHCPv6 server</name>
        <patterns>
            <pattern>services_dhcpv6.php*</pattern>
        </patterns>
    </page-services-dhcpv6server>
    <page-services-opendns>
        <name>Services: DNS Filter</name>
        <patterns>
            <pattern>services_opendns.php*</pattern>
        </patterns>
    </page-services-opendns>
    <page-services-router-advertisements>
        <name>Services: Router advertisements</name>
        <patterns>
            <pattern>services_router_advertisements.php*</pattern>
        </patterns>
    </page-services-router-advertisements>
    <page-status-carp>
        <name>Status: CARP</name>
        <patterns>
            <pattern>carp_status.php*</pattern>
        </patterns>
    </page-status-carp>
    <page-status-habackup>
        <name>Status: HA backup</name>
        <patterns>
            <pattern>status_habackup.php</pattern>
        </patterns>
    </page-status-habackup>
    <page-status-dhcpleases>
        <name>Status: DHCP leases</name>
        <patterns>
            <pattern>status_dhcp_leases.php*</pattern>
        </patterns>
    </page-status-dhcpleases>
    <page-status-dhcpv6leases>
        <name>Status: DHCPv6 leases</name>
        <patterns>
            <pattern>status_dhcpv6_leases.php*</pattern>
        </patterns>
    </page-status-dhcpv6leases>
    <page-status-interfaces>
        <name>Status: Interfaces</name>
        <patterns>
            <pattern>status_interfaces.php*</pattern>
        </patterns>
    </page-status-interfaces>
    <page-status-openvpn>
        <name>Status: OpenVPN</name>
        <patterns>
            <pattern>status_openvpn.php*</pattern>
        </patterns>
    </page-status-openvpn>
    <page-status-services>
        <name>Status: Services</name>
        <patterns>
            <pattern>status_services.php*</pattern>
        </patterns>
    </page-status-services>
    <page-status-systemlogs-portalauth>
        <name>Status: System logs: Captive portal</name>
        <patterns>
            <pattern>ui/diagnostics/log/core/portalauth/*</pattern>
            <pattern>api/diagnostics/log/core/portalauth/*</pattern>
        </patterns>
    </page-status-systemlogs-portalauth>
    <page-status-systemlogs-ppp>
        <name>Status: System logs: PPP</name>
        <patterns>
            <pattern>ui/diagnostics/log/core/ppp/*</pattern>
            <pattern>api/diagnostics/log/core/ppp/*</pattern>
        </patterns>
    </page-status-systemlogs-ppp>
    <page-status-systemlogs-openvpn>
        <name>Status: System logs: OpenVPN</name>
        <patterns>
            <pattern>ui/diagnostics/log/core/openvpn/*</pattern>
            <pattern>api/diagnostics/log/core/openvpn/*</pattern>
        </patterns>
    </page-status-systemlogs-openvpn>
    <page-status-systemlogs-routing>
        <name>Status: System logs: Routing</name>
        <patterns>
            <pattern>ui/diagnostics/log/core/routing/*</pattern>
            <pattern>api/diagnostics/log/core/routing/*</pattern>
        </patterns>
    </page-status-systemlogs-routing>
    <page-status-systemlogs-wireless>
        <name>Status: System logs: Wireless</name>
        <patterns>
            <pattern>ui/diagnostics/log/core/wireless/*</pattern>
            <pattern>api/diagnostics/log/core/wireless/*</pattern>
        </patterns>
    </page-status-systemlogs-wireless>
    <page-status-trafficgraph>
        <name>Status: Traffic Graph</name>
        <patterns>
            <pattern>ui/diagnostics/traffic*</pattern>
            <pattern>api/diagnostics/traffic*</pattern>
        </patterns>
    </page-status-trafficgraph>
    <page-diagnostics-wirelessstatus>
        <name>Status: Wireless</name>
        <patterns>
            <pattern>status_wireless.php*</pattern>
        </patterns>
    </page-diagnostics-wirelessstatus>
    <page-system-advanced-admin>
        <name>System: Advanced: Admin Access Page</name>
        <patterns>
            <pattern>system_advanced_admin.php*</pattern>
        </patterns>
    </page-system-advanced-admin>
    <page-system-advanced-firewall>
        <name>System: Advanced: Firewall and NAT</name>
        <patterns>
            <pattern>system_advanced_firewall.php*</pattern>
        </patterns>
    </page-system-advanced-firewall>
    <page-system-advanced-misc>
        <name>System: Advanced: Miscellaneous</name>
        <patterns>
            <pattern>system_advanced_misc.php*</pattern>
        </patterns>
    </page-system-advanced-misc>
    <page-system-advanced-network>
        <name>System: Advanced: Network</name>
        <patterns>
            <pattern>system_advanced_network.php*</pattern>
        </patterns>
    </page-system-advanced-network>
    <page-system-advanced-sysctl>
        <name>System: Advanced: Tunables</name>
        <patterns>
            <pattern>system_advanced_sysctl.php*</pattern>
        </patterns>
    </page-system-advanced-sysctl>
    <page-system-authservers>
        <name>System: Authentication Servers</name>
        <patterns>
            <pattern>system_authservers.php*</pattern>
            <pattern>system_usermanager_settings_ldapacpicker.php*</pattern>
        </patterns>
    </page-system-authservers>
    <page-system-camanager>
        <name>System: CA Manager</name>
        <patterns>
            <pattern>system_camanager.php*</pattern>
        </patterns>
    </page-system-camanager>
    <page-system-certmanager>
        <name>System: Certificate Manager</name>
        <patterns>
            <pattern>system_certmanager.php*</pattern>
        </patterns>
    </page-system-certmanager>
    <page-system-crlmanager>
        <name>System: CRL Manager</name>
        <patterns>
            <pattern>system_crlmanager.php*</pattern>
        </patterns>
    </page-system-crlmanager>
    <page-system-firmware-manualupdate>
        <name>System: Firmware</name>
        <patterns>
            <pattern>ui/core/firmware/*</pattern>
            <pattern>api/core/firmware/*</pattern>
            <pattern>ui/diagnostics/log/core/pkg/*</pattern>
            <pattern>api/diagnostics/log/core/pkg/*</pattern>
        </patterns>
    </page-system-firmware-manualupdate>
    <page-system-gatewaygroups>
        <name>System: Gateway Groups</name>
        <patterns>
            <pattern>system_gateway_groups.php*</pattern>
        </patterns>
    </page-system-gatewaygroups>
    <page-system-gateways>
        <name>System: Gateways</name>
        <patterns>
            <pattern>system_gateways.php*</pattern>
        </patterns>
    </page-system-gateways>
    <page-system-gateways-editgatewaygroups>
        <name>System: Gateways: Edit Gateway Groups</name>
        <patterns>
            <pattern>system_gateway_groups_edit.php*</pattern>
        </patterns>
    </page-system-gateways-editgatewaygroups>
    <page-system-gateways-editgateway>
        <name>System: Gateways: Edit Gateway</name>
        <patterns>
            <pattern>system_gateways_edit.php*</pattern>
        </patterns>
    </page-system-gateways-editgateway>
    <page-system-generalsetup>
        <name>System: General Setup</name>
        <patterns>
            <pattern>system_general.php*</pattern>
        </patterns>
    </page-system-generalsetup>
    <page-system-groupmanager>
        <name>System: Group manager</name>
        <patterns>
            <pattern>system_groupmanager.php*</pattern>
        </patterns>
    </page-system-groupmanager>
    <page-system-groupmanager-addprivs>
        <name>System: Group Manager: Add Privileges</name>
        <patterns>
            <pattern>system_usermanager_addprivs.php?group*</pattern>
        </patterns>
    </page-system-groupmanager-addprivs>
    <page-system-hasync>
        <name>System: High Availability</name>
        <patterns>
            <pattern>system_hasync.php*</pattern>
        </patterns>
    </page-system-hasync>
    <page-system-license>
        <name>System: License</name>
        <patterns>
            <pattern>ui/core/license*</pattern>
        </patterns>
    </page-system-license>
    <page-system-staticroutes>
        <name>System: Static Routes</name>
        <patterns>
            <pattern>ui/routes/*</pattern>
            <pattern>api/routes/*</pattern>
        </patterns>
    </page-system-staticroutes>
    <page-system-usermanager>
        <name>System: User Manager</name>
        <patterns>
            <pattern>system_usermanager.php*</pattern>
            <pattern>system_usermanager_import_ldap.php*</pattern>
        </patterns>
    </page-system-usermanager>
    <page-system-usermanager-addprivs>
        <name>System: User Manager: Add Privileges</name>
        <patterns>
            <pattern>system_usermanager_addprivs.php?user*</pattern>
        </patterns>
    </page-system-usermanager-addprivs>
    <page-system-usermanager-passwordmg>
        <name>System: User Password Manager</name>
        <patterns>
            <pattern>system_usermanager_passwordmg.php*</pattern>
        </patterns>
    </page-system-usermanager-passwordmg>
    <page-openvpn-client-export>
        <name>VPN: OpenVPN: Client Export Utility</name>
        <patterns>
            <pattern>ui/openvpn/export/*</pattern>
            <pattern>api/openvpn/export/*</pattern>
        </patterns>
    </page-openvpn-client-export>
    <page-openvpn-client>
        <name>VPN: OpenVPN: Client</name>
        <patterns>
            <pattern>vpn_openvpn_client.php*</pattern>
        </patterns>
    </page-openvpn-client>
    <page-openvpn-csc>
        <name>VPN: OpenVPN: Client Specific Override</name>
        <patterns>
            <pattern>vpn_openvpn_csc.php*</pattern>
        </patterns>
    </page-openvpn-csc>
    <page-openvpn-server>
        <name>VPN: OpenVPN: Server</name>
        <patterns>
            <pattern>vpn_openvpn_server.php*</pattern>
            <pattern>wizard.php?xml=openvpn&amp;*</pattern>
        </patterns>
    </page-openvpn-server>
    <page-xmlrpclibrary>
        <name>XMLRPC Library</name>
        <patterns>
            <pattern>xmlrpc.php*</pattern>
        </patterns>
    </page-xmlrpclibrary>
</acl>
