<acl>
    <!-- unique acl key, must be globally unique for all acl's  -->
    <page-diagnostics-logs-poes>
        <name>WebCfg - Diagnostics: Logs: PPPoE page</name>
        <description>Allow access to the 'Diagnostics: Logs: PPPoE' page.</description>
        <patterns>
            <pattern>diag_logs_poes.php*</pattern>
        </patterns>
    </page-diagnostics-logs-poes>
    <page-services-pppoeserver>
        <name>WebCfg - Services: PPPoE Server page</name>
        <description>Allow access to the 'Services: PPPoE Server' page.</description>
        <patterns>
            <pattern>vpn_pppoe.php*</pattern>
        </patterns>
    </page-services-pppoeserver>
    <page-services-pppoeserver-edit>
        <name>WebCfg - Services: PPPoE Server: Edit page</name>
        <description>Allow access to the 'Services: PPPoE Server: Edit' page.</description>
        <patterns>
            <pattern>vpn_pppoe_edit.php*</pattern>
        </patterns>
    </page-services-pppoeserver-edit>
</acl>
