<?xml version="1.0"?>
<opnsense>
  <system>
    <hostname>kea-test</hostname>
    <domain>unit.test</domain>
  </system>
  <interfaces>
    <lan>
      <if>hn0</if>
      <descr>LAN</descr>
      <enable>1</enable>
    </lan>
    <opt1>
      <if>hn2</if>
      <descr>OPT1</descr>
      <enable>1</enable>
    </opt1>
  </interfaces>
  <OPNsense>
    <Kea>
      <ctrl_agent version="0.0.1" persisted_at="1763978116.85">
        <general>
          <enabled>1</enabled>
          <http_host>127.0.0.1</http_host>
          <http_port>8000</http_port>
        </general>
      </ctrl_agent>
      <dhcp4 version="1.0.4" persisted_at="1764067735.34">
        <general>
          <enabled>1</enabled>
          <manual_config>0</manual_config>
          <interfaces>lan,opt1</interfaces>
          <valid_lifetime>4000</valid_lifetime>
          <fwrules>1</fwrules>
          <dhcp_socket_type>raw</dhcp_socket_type>
        </general>
        <lexpire>
          <hold_reclaimed_time>20</hold_reclaimed_time>
          <reclaim_timer_wait_time>10</reclaim_timer_wait_time>
          <flush_reclaimed_timer_wait_time>25</flush_reclaimed_timer_wait_time>
          <max_reclaim_time>10</max_reclaim_time>
          <max_reclaim_leases>100</max_reclaim_leases>
          <unwarned_reclaim_cycles>5</unwarned_reclaim_cycles>
        </lexpire>
        <ha>
          <enabled>1</enabled>
          <this_server_name>opn-dev-02</this_server_name>
          <max_unacked_clients>10</max_unacked_clients>
        </ha>
        <subnets>
          <subnet4 uuid="9b24f372-4d56-419e-9e40-1646438e2936">
            <subnet>192.168.1.1/24</subnet>
            <next_server/>
            <option_data_autocollect>1</option_data_autocollect>
            <option_data>
              <domain_name_servers>192.168.1.1</domain_name_servers>
              <domain_search/>
              <routers>192.168.1.1</routers>
              <static_routes/>
              <classless_static_route/>
              <domain_name/>
              <ntp_servers>192.168.1.1</ntp_servers>
              <time_servers/>
              <tftp_server_name/>
              <boot_file_name/>
              <v6_only_preferred/>
              <v4_dnr/>
            </option_data>
            <match-client-id>0</match-client-id>
            <pools>192.168.1.100-192.168.1.110</pools>
            <description/>
          </subnet4>
          <subnet4 uuid="f822c4ca-ab2f-451a-aa07-0d4bbf638a7f">
            <subnet>192.168.130.0/24</subnet>
            <next_server>192.168.1.1</next_server>
            <option_data_autocollect>0</option_data_autocollect>
            <option_data>
              <domain_name_servers>192.168.130.1</domain_name_servers>
              <domain_search>test2.local,test3.local</domain_search>
              <routers>192.168.130.1</routers>
              <static_routes>192.168.1.1,192.168.100.1</static_routes>
              <classless_static_route>192.168.1.0/24 - 192.168.100.1,192.168.2.0/24 - 192.168.100.1</classless_static_route>
              <domain_name>test.local</domain_name>
              <ntp_servers>192.168.130.1</ntp_servers>
              <time_servers>192.168.1.1</time_servers>
              <tftp_server_name>192.168.1.3</tftp_server_name>
              <boot_file_name>boot.conf</boot_file_name>
              <v6_only_preferred>300</v6_only_preferred>
              <v4_dnr>1, example.com</v4_dnr>
            </option_data>
            <match-client-id>1</match-client-id>
            <pools>192.168.130.2-192.168.130.12</pools>
            <description>DescriptionTest</description>
          </subnet4>
        </subnets>
        <reservations>
          <reservation uuid="4d5cff9b-1825-4691-9a40-0f795e0b601b">
            <subnet>9b24f372-4d56-419e-9e40-1646438e2936</subnet>
            <ip_address>192.168.1.102</ip_address>
            <hw_address>00:15:5d:00:ad:0b</hw_address>
            <hostname>deb02</hostname>
            <description/>
            <option_data>
              <domain_name_servers/>
              <domain_search/>
              <routers/>
              <static_routes/>
              <classless_static_route/>
              <domain_name/>
              <ntp_servers/>
              <time_servers/>
              <tftp_server_name/>
              <boot_file_name/>
            </option_data>
          </reservation>
          <reservation uuid="9b734746-2f2a-4550-bc9c-818786af67c8">
            <subnet>9b24f372-4d56-419e-9e40-1646438e2936</subnet>
            <ip_address>192.168.1.103</ip_address>
            <hw_address>00:15:5d:00:ad:0c</hw_address>
            <hostname>deb03</hostname>
            <description>DescriptionTest</description>
            <option_data>
              <domain_name_servers>192.168.130.1</domain_name_servers>
              <domain_search>test2.local,test3.local</domain_search>
              <routers>192.168.130.1</routers>
              <static_routes>192.168.1.1,192.168.100.1</static_routes>
              <classless_static_route>192.168.1.0/24 - 192.168.100.1,192.168.2.0/24 - 192.168.100.1</classless_static_route>
              <domain_name>test.local</domain_name>
              <ntp_servers>192.168.130.1</ntp_servers>
              <time_servers>192.168.1.1</time_servers>
              <tftp_server_name>192.168.1.3</tftp_server_name>
              <boot_file_name>boot.conf</boot_file_name>
            </option_data>
          </reservation>
        </reservations>
        <ha_peers>
          <peer uuid="75da3fff-6aac-41a0-9599-90dae4b119c3">
            <name>opn-dev-02</name>
            <role>primary</role>
            <url>http://172.16.1.127:8002/</url>
          </peer>
          <peer uuid="38efe03a-b5eb-4233-8871-2d112d30eaed">
            <name>opn-dev-03</name>
            <role>standby</role>
            <url>http://172.16.1.128:8002/</url>
          </peer>
        </ha_peers>
      </dhcp4>
    </Kea>
  </OPNsense>
</opnsense>
