<acl>
    <!-- unique acl key, must be globally unique for all acl's  -->
    <page-diagnostics-logs-pptp>
        <name>WebCfg - Diagnostics: Logs: PPTP page</name>
        <description>Allow access to the 'Diagnostics: Logs: PPTP' page.</description>
        <patterns>
            <pattern>diag_logs_pptp.php*</pattern>
        </patterns>
    </page-diagnostics-logs-pptp>
    <page-vpn-vpnpptp>
        <name>WebCfg - VPN: PPTP page</name>
        <description>Allow access to the 'VPN: PPTP' page.</description>
        <patterns>
            <pattern>vpn_pptp.php*</pattern>
        </patterns>
    </page-vpn-vpnpptp>
    <page-vpn-vpnpptp-user-edit>
        <name>WebCfg - VPN: PPTP: User: Edit page</name>
        <description>Allow access to the 'VPN: PPTP: User: Edit' page.</description>
        <patterns>
            <pattern>vpn_pptp_users_edit.php*</pattern>
        </patterns>
    </page-vpn-vpnpptp-user-edit>
    <page-vpn-vpnpptp-users>
        <name>WebCfg - VPN: PPTP: Users page</name>
        <description>Allow access to the 'VPN: PPTP: Users' page.</description>
        <patterns>
            <pattern>vpn_pptp_users.php*</pattern>
        </patterns>
    </page-vpn-vpnpptp-users>
</acl>
