# [Auto generated: do not alter manually]
#
# OPNsense suricata rule template, this configuration will be used together with all installed
# rules to generate the desired ruleset for OPNsense.
#
{% if helpers.exists('OPNsense.IDS.rules.rule') %}
{%      for rule in helpers.toList('OPNsense.IDS.rules.rule') %}
[rule_{{rule['@uuid']|replace('-', '')}}]
enabled={{ rule.enabled|default('0') }}
action={{ rule.action|default('') }}
sid={{ rule.sid|default('0') }}

{%      endfor %}
{% endif %}
