{% if helpers.exists('OPNsense.IDS.policies.policy') %}
{%      for policy in helpers.toList('OPNsense.IDS.policies.policy') %}
[{{policy['@uuid']|replace('-', '')}}]
enabled={{ policy.enabled|default('0') }}
prio={{ policy.prio|default('0') }}
{% if policy.rulesets %}
rulesets={% for rs in policy.rulesets.split(',') %}{% if loop.index > 1%},{% endif %}{%
  if helpers.getUUIDtag(rs) in ['file']%}{{ helpers.getUUID(rs).filename }}{% endif %}{% endfor %}

{% endif %}
content={{ policy.content|default('') }}
action={{ policy.action|default('') }}
__target_action__={{ policy.new_action|default('default') }}
__policy_id__={{policy['@uuid']}}

{%      endfor %}
{% endif %}
