{% if helpers.exists('OPNsense.IDS.policies.policy') %}
{%      for policy in helpers.toList('OPNsense.IDS.policies.policy') %}
[{{policy['@uuid']|replace('-', '')}}]
enabled={{ policy.enabled|default('0') }}
prio={{ policy.prio|default('0') }}
{% if policy.rulesets %}
{% set selected_rulesets = [] %}
{% for rs in policy.rulesets.split(',') %}
{% if helpers.getUUIDtag(rs) in ['file'] %}{% do selected_rulesets.append(helpers.getUUID(rs).filename) %}{% elif rs is regex_match('^[A-Za-z0-9._-]+[.]rules\Z') %}{% do selected_rulesets.append(rs) %}{% endif %}
{% endfor %}
rulesets={{ selected_rulesets|join(',') }}
{% endif %}
content={{ policy.content|default('') }}
action={{ policy.action|default('') }}
__target_action__={{ policy.new_action|default('default') }}
__policy_id__={{policy['@uuid']}}
__policy_description__={{policy.description|default('-')}}

{%      endfor %}
{% endif %}
