<menu>
    <Lobby order="10" cssClass="fa fa-laptop">
        <Dashboard order="0" url="/ui/core/dashboard" cssClass="fa fa-dashboard fa-fw">
            <Args url="/index.php*" visibility="hidden"/>
            <Root url="/" visibility="hidden"/>
            <RootArgs url="/?*" visibility="hidden"/>
        </Dashboard>
        <License order="1" url="/ui/core/license" cssClass="fa fa-balance-scale fa-fw"/>
        <Password order="2" url="/system_usermanager_passwordmg.php" cssClass="fa fa-key fa-fw">
            <Edit url="/system_usermanager_passwordmg.php*" visibility="hidden"/>
        </Password>
        <Logout order="3" url="/index.php?logout" cssClass="fa fa-sign-out fa-fw"/>
    </Lobby>
    <Reporting order="15" cssClass="fa fa-area-chart">
        <Settings order="10" url="/reporting_settings.php" cssClass="fa fa-cog fa-fw"/>
        <Traffic order="20" url="/ui/diagnostics/traffic" cssClass="fa fa-line-chart fa-fw"/>
        <DNS order="30" VisibleName="Unbound DNS" url="/ui/unbound/overview" cssClass="fa fa-bar-chart fa-fw"/>
    </Reporting>
    <System order="20" cssClass="fa fa-server">
        <Access cssClass="fa fa-users fa-fw">
            <Users order="10" url="/ui/auth/user"/>
            <Groups order="20" url="/ui/auth/group"/>
            <Privileges order="25" url="/ui/auth/priv"/>
            <Servers order="30" url="/system_authservers.php">
                <Edit url="/system_authservers.php*" visibility="hidden"/>
            </Servers>
            <Tester order="40" url="/diag_authentication.php"/>
        </Access>
        <Configuration cssClass="fa fa-history fa-fw">
            <Backups url="/diag_backup.php"/>
            <Defaults url="/diag_defaults.php"/>
            <History url="/ui/core/backup/history/this"/>
        </Configuration>
        <Firmware cssClass="fa fa-building-o fa-fw">
            <Status order="10" url="/ui/core/firmware#status"/>
            <Settings order="20" url="/ui/core/firmware#settings"/>
            <Changelog order="30" url="/ui/core/firmware#changelog"/>
            <Updates order="40" url="/ui/core/firmware#updates"/>
            <Plugins order="50" url="/ui/core/firmware#plugins"/>
            <Packages order="60" url="/ui/core/firmware#packages"/>
            <Reporter order="70" url="/crash_reporter.php"/>
            <LogFile order="80" VisibleName="Log File" url="/ui/diagnostics/log/core/pkg"/>
        </Firmware>
        <Gateways cssClass="fa fa-location-arrow fa-fw">
            <Configuration order="10" url="/ui/routing/configuration"/>
            <Group order="20" url="/system_gateway_groups.php">
                <List url="/system_gateway_groups.php*" visibility="hidden"/>
                <Edit url="/system_gateway_groups_edit.php*" visibility="hidden"/>
            </Group>
            <LogFile VisibleName="Log File" order="30" url="/ui/diagnostics/log/core/gateways"/>
        </Gateways>
        <HighAvailability VisibleName="High Availability" cssClass="fa fa-refresh fa-fw">
            <Settings order="100" url="/ui/core/hasync"/>
            <Status order="200" url="/status_habackup.php"/>
        </HighAvailability>
        <Routes cssClass="fa fa-map-signs fa-fw">
            <Configuration order="10" url="/ui/routes" />
            <LogFile order="100" VisibleName="Log File" url="/ui/diagnostics/log/core/routing"/>
        </Routes>
        <Settings cssClass="fa fa-cogs fa-fw">
            <Administration url="/system_advanced_admin.php"/>
            <General url="/system_general.php">
                <Edit url="/system_general.php*" visibility="hidden"/>
            </General>
            <Miscellaneous url="/system_advanced_misc.php"/>
            <Tunables url="/system_advanced_sysctl.php">
                <Edit url="/system_advanced_sysctl.php*" visibility="hidden"/>
            </Tunables>
        </Settings>
        <Snapshots cssClass="fa fa-hdd-o fa-fw" url="/ui/core/snapshots/"/>
        <Trust cssClass="fa fa-certificate fa-fw">
            <Authorities url="/ui/trust/ca"/>
            <Certificates url="/ui/trust/cert"/>
            <Revocation url="/ui/trust/crl"/>
            <Settings url="/ui/trust/settings"/>
        </Trust>
        <Wizard url="/wizard.php?xml=system" cssClass="fa fa-magic fa-fw"/>
        <LogFiles order="150" VisibleName="Log Files" cssClass="fa fa-eye fa-fw">
            <Audit url="/ui/diagnostics/log/core/audit"/>
            <Backend url="/ui/diagnostics/log/core/configd"/>
            <Boot url="/ui/diagnostics/log/core/boot"/>
            <General url="/ui/diagnostics/log/core/system"/>
            <WebGUI VisibleName="Web GUI" url="/ui/diagnostics/log/core/lighttpd"/>
        </LogFiles>
        <Diagnostics order="160" cssClass="fa fa-medkit fa-fw">
            <Services url="/ui/core/service"/>
        </Diagnostics>
    </System>
    <Interfaces order="30" cssClass="fa fa-sitemap"/>
    <Firewall order="40" cssClass="fa fa-fire">
        <Aliases url="/ui/firewall/alias" cssClass="fa fa-list-alt fa-fw">
            <Edit url="/ui/firewall/alias/*" visibility="hidden"/>
        </Aliases>
        <Categories url="/ui/firewall/category" cssClass="fa fa-tags fa-fw"/>
        <Groups url="/ui/firewall/group" cssClass="fa fa-sitemap fa-fw"/>
        <NAT cssClass="fa fa-exchange fa-fw">
            <PortForward order="100" VisibleName="Port Forward" url="/firewall_nat.php">
                <Edit url="/firewall_nat_edit.php*" visibility="hidden"/>
            </PortForward>
            <Outbound order="300" VisibleName="Outbound" url="/firewall_nat_out.php">
                <Edit url="/firewall_nat_out_edit.php*" visibility="hidden"/>
            </Outbound>
        </NAT>
        <Rules cssClass="fa fa-check fa-fw" />
        <Settings order="200" cssClass="fa fa-cogs fa-fw">
            <Schedules url="/firewall_schedule.php">
                <SchedulesEdit url="/firewall_schedule_edit.php*" visibility="hidden"/>
            </Schedules>
            <Normalization url="/firewall_scrub.php">
                <NormalizationEdit url="/firewall_scrub_edit.php*" visibility="hidden"/>
                <Normalization url="/firewall_scrub.php*" visibility="hidden"/>
            </Normalization>
            <Advanced url="/system_advanced_firewall.php"/>
        </Settings>
        <Diagnostics order="500" cssClass="fa fa-medkit fa-fw">
            <Aliases url="/ui/firewall/alias_util/"/>
            <States url="/ui/diagnostics/firewall/states"/>
            <Sessions url="/ui/diagnostics/firewall/pf_top"/>
            <Statistics url="/ui/diagnostics/firewall/statistics"/>
        </Diagnostics>
        <LogFiles order="400" VisibleName="Log Files" cssClass="fa fa-eye fa-fw">
            <General VisibleName="General" url="/ui/diagnostics/log/core/firewall"/>
            <Live VisibleName="Live View" url="/ui/diagnostics/firewall/log"/>
            <Overview url="/ui/diagnostics/firewall/stats"/>
            <Plain VisibleName="Plain View" url="/ui/diagnostics/log/core/filter"/>
        </LogFiles>
    </Firewall>
    <Services order="60" cssClass="fa fa-cog">
        <ISC_DHCPv4 VisibleName="ISC DHCPv4" cssClass="fa fa-bullseye fa-fw">
            <Leases order="300" url="/ui/dhcpv4/leases"/>
            <LogFile VisibleName="Log File" order="400" url="/ui/diagnostics/log/core/dhcpd"/>
        </ISC_DHCPv4>
        <ISC_DHCPv6 VisibleName="ISC DHCPv6" cssClass="fa fa-bullseye fa-fw">
            <Leases order="400" url="/ui/dhcpv6/leases"/>
        </ISC_DHCPv6>
        <OpenDNS VisibleName="OpenDNS" url="/services_opendns.php" cssClass="fa fa-tags fa-fw"/>
        <RouterAdv VisibleName="Router Advertisements" cssClass="fa fa-bullseye fa-fw" />
    </Services>
    <VPN order="50" cssClass="fa fa-globe">
        <OpenVPN cssClass="fa fa-lock fa-fw">
            <Instances url="/ui/openvpn/instances"/>
            <Servers VisibleName="Servers [legacy]" order="10" url="/vpn_openvpn_server.php">
                <Edit url="/vpn_openvpn_server.php?*" visibility="hidden"/>
                <Step url="/wizard.php?xml=openvpn*" visibility="hidden"/>
            </Servers>
            <Clients VisibleName="Clients [legacy]" order="20" url="/vpn_openvpn_client.php">
                <Edit url="/vpn_openvpn_client.php?*" visibility="hidden"/>
            </Clients>
            <CSC order="30" VisibleName="Client Specific Overrides" url="/ui/openvpn/client_overwrites"/>
            <ClientExport order="40" VisibleName="Client Export" url="/ui/openvpn/export">
                <Edit url="/ui/openvpn/export?*" visibility="hidden"/>
            </ClientExport>
            <Status order="60" VisibleName="Connection Status" url="/ui/openvpn/status"/>
            <LogFile order="70" VisibleName="Log File" url="/ui/diagnostics/log/core/openvpn"/>
        </OpenVPN>
    </VPN>
    <Power order="70" cssClass="fa fa-plug">
        <Reboot order="10" url="/ui/core/reboot" cssClass="fa fa-repeat fa-fw"/>
        <PowerOff VisibleName="Power Off" order="20" url="/ui/core/halt" cssClass="fa fa-power-off fa-fw"/>
    </Power>
    <Help order="80" cssClass="fa fa-support">
        <Documentation order="10" url="https://docs.opnsense.org/" cssClass="fa fa-book" IsExternal="Y"/>
        <Forum VisibleName="User Forum" order="20" url="https://forum.opnsense.org/" cssClass="fa fa-ticket" IsExternal="Y"/>
        <Support VisibleName="Commercial Support" order="30" url="https://opnsense.org/support-overview/commercial-support/" cssClass="fa fa-phone" IsExternal="Y"/>
    </Help>
</menu>
