<menu>
    <VPN>
      <WireGuard cssClass="fa fa-lock fa-fw">
          <Instances order="10" url="/ui/wireguard/general#instances"/>
          <Peers order="20" url="/ui/wireguard/general#peers"/>
          <Status order="30" url="/ui/wireguard/diagnostics/"/>
          <LogFile order="40" VisibleName="Log File" url="/ui/diagnostics/log/core/wireguard"/>
      </WireGuard>
    </VPN>
</menu>
