<?xml version="1.0"?>
<opnsense>
    <interfaces>
        <wan>
            <if>if001</if>
            <descr>WAN</descr>
            <enable>1</enable>
            <ipaddr>dhcp</ipaddr>
        </wan>
        <lan>
            <if>if002</if>
            <descr>LAN</descr>
            <enable>1</enable>
        </lan>
    </interfaces>
    <virtualip>
        <vip>
            <type>network</type>
            <subnet_bits>24</subnet_bits>
            <mode>ipalias</mode>
            <interface>lan</interface>
            <descr>test_vip_1</descr>
            <subnet>172.11.1.0</subnet>
        </vip>
        <vip>
            <type>network</type>
            <subnet_bits>24</subnet_bits>
            <mode>other</mode>
            <interface>wan</interface>
            <descr>test_vip_2</descr>
            <subnet>10.207.0.1</subnet>
        </vip>
        <vip>
            <type>single</type>
            <subnet_bits>24</subnet_bits>
            <mode>carp</mode>
            <interface>lan</interface>
            <descr>test_vip_3</descr>
            <subnet>10.100.0.10</subnet>
            <vhid>9</vhid>
            <advskew>0</advskew>
            <advbase>1</advbase>
            <password>opnsense</password>
        </vip>
        <vip>
            <type>single</type>
            <subnet_bits>24</subnet_bits>
            <mode>carp</mode>
            <interface>wan</interface>
            <descr>test_vip_4</descr>
            <subnet>10.100.0.11</subnet>
            <vhid>9</vhid>
            <advskew>0</advskew>
            <advbase>1</advbase>
            <password>opnsense</password>
        </vip>
    </virtualip>
</opnsense>
