<acl>
    <page-services-loadbalancer-monitor-edit>
        <name>Services: Load Balancer: Monitor: Edit</name>
        <patterns>
            <pattern>load_balancer_monitor_edit.php*</pattern>
        </patterns>
    </page-services-loadbalancer-monitor-edit>
    <page-services-loadbalancer-monitor>
        <name>Services: Load Balancer: Monitors</name>
        <patterns>
            <pattern>load_balancer_monitor.php*</pattern>
        </patterns>
    </page-services-loadbalancer-monitor>
    <page-services-loadbalancer-setting>
        <name>Services: Load Balancer: setting</name>
        <patterns>
            <pattern>load_balancer_setting.php*</pattern>
        </patterns>
    </page-services-loadbalancer-setting>
    <page-services-loadbalancer-virtualservers>
        <name>Services: Load Balancer: Virtual Servers</name>
        <patterns>
            <pattern>load_balancer_virtual_server.php*</pattern>
        </patterns>
    </page-services-loadbalancer-virtualservers>
    <page-status-loadbalancer-pool>
        <name>Status: Load Balancer: Pool</name>
        <patterns>
            <pattern>status_lb_pool.php*</pattern>
        </patterns>
    </page-status-loadbalancer-pool>
    <page-status-loadbalancer-virtualserver>
        <name>Status: Load Balancer: Virtual Server</name>
        <patterns>
            <pattern>status_lb_vs.php*</pattern>
        </patterns>
    </page-status-loadbalancer-virtualserver>
    <page-status-systemlogs-loadbalancer>
        <name>Status: System logs: Load Balancer</name>
        <patterns>
            <pattern>diag_logs_relayd.php*</pattern>
        </patterns>
    </page-status-systemlogs-loadbalancer>
    <page-loadbalancer-pool>
        <name>Load Balancer: Pool</name>
        <patterns>
            <pattern>load_balancer_pool.php*</pattern>
        </patterns>
    </page-loadbalancer-pool>
    <page-loadbalancer-pool-edit>
        <name>Load Balancer: Pool: Edit</name>
        <patterns>
            <pattern>load_balancer_pool_edit.php*</pattern>
        </patterns>
    </page-loadbalancer-pool-edit>
    <page-loadbalancer-virtualserver-edit>
        <name>Load Balancer: Virtual Server: Edit</name>
        <patterns>
            <pattern>load_balancer_virtual_server_edit.php*</pattern>
        </patterns>
    </page-loadbalancer-virtualserver-edit>
</acl>
