AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^ui/css/(.*) /css/$1 [PT,QSA]
    RewriteRule ^ui/fonts/(.*) /fonts/$1 [PT,QSA]
    RewriteRule ^ui/js/(.*) /js/$1 [PT,QSA]
    RewriteRule ^ui/img/(.*) /img/$1 [PT,QSA]
    RewriteRule ^ui/themes/(.*) /themes/$1 [PT,QSA]

    RewriteRule ^api/(.*)$ api.php?_url=/$1 [QSA,L]
    RewriteRule ^ui/(.*)$ index.php?_url=/$1 [QSA,L]

</IfModule>