<menu>
    <VPN>
        <L2TP cssClass="fa fa-unlock fa-fw" order="100">
            <Settings order="10" url="/vpn_l2tp.php"/>
            <Users order="20" url="/vpn_l2tp_users.php">
                <Edit url="/vpn_l2tp_users_edit.php*" visibility="hidden"/>
            </Users>
            <LogFile order="30" VisibleName="Log File" url="/diag_logs_l2tp.php">
                <Type url="/diag_logs_l2tp.php*" visibility="hidden"/>
            </LogFile>
        </L2TP>
    </VPN>
</menu>
