<acl>
    <page-service-upnp>
        <name>WebCfg - Service: Universal Plug and Play page</name>
        <description>Allow access to the 'Service: Universal Plug and Play' page.</description>
        <patterns>
            <pattern>services_upnp.php*</pattern>
        </patterns>
    </page-service-upnp>
    <page-status-upnpstatus>
        <name>WebCfg - Status: Universal Plug and Play page</name>
        <description>Allow access to the 'Status: Universal Plug and Play' page.</description>
        <patterns>
            <pattern>status_upnp.php*</pattern>
        </patterns>
    </page-status-upnpstatus>
</acl>
