<acl>
    <page-service-upnp>
        <name>Service: Universal Plug and Play</name>
        <patterns>
            <pattern>services_upnp.php*</pattern>
        </patterns>
    </page-service-upnp>
    <page-status-upnpstatus>
        <name>Status: Universal Plug and Play</name>
        <patterns>
            <pattern>status_upnp.php*</pattern>
        </patterns>
    </page-status-upnpstatus>
</acl>
