<acl>
    <!-- unique acl key, must be globally unique for all acl's  -->
    <page-system-cron>
        <name>WebCfg - System: Settings: Cron page</name>
        <description>Allow access to the 'System: Settings: Cron' page.</description>
        <patterns>
            <pattern>ui/cron/*</pattern>
            <pattern>api/cron/*</pattern>
        </patterns>
    </page-system-cron>
</acl>
