$colors: (
  brand-primary: #C03E14,
  content-background: #F7F7F7,
  body-background: #fff,
  navbar-default-color: #373736,
  page-content-head-background: #FBFBFB,
  page-foot-background: #FBFBFB,
  table-bg-accent: #FBFBFB,
  login-modal-head-background: #fff,
  navbar-default-bg: #fff,
  list-group-link-color: #373736,
  text-color: #373736,
  border-default: #E5E5E5,
  dashboard-widget-error: #721c24
);
