<menu>
    <Services>
      <WebProxy order="10" VisibleName="Web Proxy" cssClass="fa fa-bolt fa-fw">
          <Administration url="/ui/proxy">
            <ACL VisibleName="ACL" url="/ui/proxy#subtab_proxy-forward-acl"/>
            <Authentication VisibleName="Auth" url="/ui/proxy#subtab_proxy-general-authentication"/>
            <FTP VisibleName="FTP" url="/ui/proxy#subtab_proxy-forward-ftp"/>
            <Forward VisibleName="Forward" url="/ui/proxy#subtab_proxy-forward-general"/>
            <GeneralSettings VisibleName="General" url="/ui/proxy#subtab_proxy-general-settings"/>
            <ICAP VisibleName="ICAP" url="/ui/proxy#subtab_proxy-icap"/>
            <LocalCache VisibleName="Cache" url="/ui/proxy#subtab_proxy-general-cache-local"/>
            <PACMatches VisibleName="PAC Matches" url="/ui/proxy#subtab_pac_matches"/>
            <PACProxies VisibleName="PAC Proxies" url="/ui/proxy#subtab_pac_proxies"/>
            <PACRules VisibleName="PAC Rules" url="/ui/proxy#subtab_pac_rules"/>
            <RemoteACL VisibleName="Remote ACL" url="/ui/proxy#remote_acls"/>
            <TrafficManagement VisibleName="Traffic Mgmt" url="/ui/proxy#subtab_proxy-general-traffic"/>
          </Administration>
          <Cache order="20" VisibleName="Cache Log" url="/ui/diagnostics/log/squid/cache"/>
          <Access order="30" VisibleName="Access Log" url="/ui/diagnostics/log/squid/access"/>
          <Store order="40" VisibleName="Store Log" url="/ui/diagnostics/log/squid/store"/>
      </WebProxy>
    </Services>
</menu>
