@import "config/colors";

/**
* Main theming elements
*/
.tabulator {
    font-size: 15px;
    background-color: transparent;
}

/* theme: header */
.tabulator .tabulator-header {
    background-color: transparent;
    border-top: 1px solid map-get($colors, table-bg-accent);
    border-left: 1px solid map-get($colors, table-bg-accent);
    border-right: 1px solid map-get($colors, table-bg-accent);
    border-bottom: none;
}
.tabulator .tabulator-header .tabulator-col {
    border-right: 1px solid map-get($colors, table-bg-accent);
    background-color: transparent;
    background: transparent;
    color: map-get($colors, text-color);
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover {
    background-color: map-get($colors, table-bg-accent);
}
.tabulator .tabulator-headers {
    height: 100% !important; /* make sure the border below appears */
    border-bottom: 1px solid map-get($colors, border-highlight);
}
/*------------*/

/* theme: body */
.tabulator .tabulator-tableholder .tabulator-table {
    background-color: transparent;
}
.tabulator-row {
    background-color: transparent;
    color: map-get($colors, text-color); /* $text-color */
}

.tabulator-row.tabulator-row-odd {
    background-color: map-get($colors, table-bg-accent); /* was (#FBFBFB) */
}
.tabulator-row.tabulator-row-odd.tabulator-selectable:hover:not(.tabulator-selected) {
    background-color: map-get($colors, table-bg-accent); /* was (#FBFBFB) */
}

.tabulator-row.tabulator-row-even {
    background-color: transparent;
}
.tabulator-row.tabulator-row-even.tabulator-selectable:hover:not(.tabulator-selected) {
    background-color: transparent;
}
.tabulator .tabulator-tableholder {
    background-color: transparent;
    border-left: 1px solid map-get($colors, table-bg-accent); /* was (#eee) */
    border-right: 1px solid map-get($colors, table-bg-accent); /* was (#eee) */
    /* scrollbar-gutter: stable; XXX */
}
.tabulator-row.tabulator-selected {
    background-color: #9abcea; /* XXX needs new theme? */
}
.tabulator-row.tabulator-selected:hover {
    cursor: pointer;
    background-color: #9abcea; /* XXX needs new theme? */
}
.tabulator .tabulator-alert .tabulator-alert-msg.tabulator-alert-state-msg {
    color: map-get($colors, text-color); /* spinner icon */
}

/* Command column styles */
.tabulator-col.tabulator-frozen.tabulator-frozen-right {
    background-color: #101218;
}
.tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-right {
    background-color: #101218;
}

/* Checkbox column styles */
.tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-left {
    border-right: 1px solid map-get($colors, border-highlight); /* separates checkbox column from table rows, needs same theme as .tabulator .tabulator-headers  */
    border-left: 1px solid map-get($colors, table-bg-accent); /* $table-bg-accent, was #eee*/

}
.tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-left {
    border-right: 1px solid map-get($colors, border-highlight); /* XXX needs new theme style */
    border-top: 1px solid map-get($colors, table-bg-accent); /* $table-bg-accent, was #eee*/
    border-bottom: 1px solid map-get($colors, border-highlight); /* XXX needs new theme style */
    border-left: 1px solid map-get($colors, table-bg-accent); /* $table-bg-accent, was #eee*/
}
.tabulator-col.tabulator-row-header.tabulator-frozen.tabulator-frozen-left {
    background-color: #eee; /* $body-background was #eee, probably needs new style */
}
.tabulator-cell.tabulator-row-header.tabulator-frozen.tabulator-frozen-left {
    background-color: #eee; /* $body-background was #eee, probably needs new style */
}
.tabulator-row:last-child >
.tabulator-cell.tabulator-row-header.tabulator-frozen.tabulator-frozen-left:first-child {
}
/*------------*/

/* theme: cells */
.tabulator-row .tabulator-cell {
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.2;
    vertical-align: top;
    border-bottom: 1px solid map-get($colors, table-bg-accent); /* $table-bg-accent (was #eee) should probably be something lighter */
    border-right: 1px solid map-get($colors, table-bg-accent);/* $table-bg-accent (was #eee) should probably be something lighter */
}
/*-------------*/

/* theme: footer */
.tabulator .tabulator-footer {
    background-color: transparent;
}
.tabulator .tabulator-footer .tabulator-page {
    background-color: map-get($colors, body-background);
    color: map-get($colors, brand-primary);
}
.tabulator .tabulator-footer .tabulator-page.active {
    background-color: map-get($colors, brand-primary);
    border-color: map-get($colors, brand-primary);
    cursor: default;
    color: map-get($colors, body-background);
}
.tabulator .tabulator-footer .tabulator-page:not(disabled):hover {
    color: #7b280d; /* XXX where does this color come from? same in light mode as in dark mode */
    background-color: #242937; /* XXX where does this color come from? light mode: #eeeeee dark mode: #242937 */
    border-color: #ddd;
}
.tabulator .tabulator-footer .tabulator-page:not(disabled).active:hover {
    background-color: map-get($colors, brand-primary);
    border-color: map-get($colors, brand-primary);
    color: map-get($colors, body-background);
    cursor: default;
}
.tabulator-page-counter {
    color: map-get($colors,text-color);
}
.tabulator .tabulator-footer .tabulator-paginator {
    color: map-get($colors,text-color);
}
.tabulator .tabulator-footer .tabulator-page {
    border-radius: 0px;
    margin: 0px;
    padding: 6px 12px;
    border: 1px solid map-get($colors, border-default);
}
/*----------*/

/* end of main theming elements */

.tabulator-paginator {
    flex: 0 !important;
}
.tabulator-page-counter {
    flex: 1;
    text-align: right;
}
.tabulator-col-sorter i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabulator .tabulator-header .tabulator-col {
    padding: 5px;
}

.tabulator .tabulator-headers > :first-child {
    padding-left: 10px;
}


.opnsense-bootgrid-responsive {
    white-space: wrap !important;
    text-overflow: inherit !important;
    overflow: visible !important;
    word-break: break-word !important;
}

.opnsense-bootgrid-ellipsis {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}


.tabulator-row > :first-child {
    padding-left: 10px;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content {
    padding: 0px;
}

.tabulator-page-counter {
    padding-right: 20px;
}

.bootgrid-footer-commands {
    width: 90px;
    padding-left: 8px;
}

/* move border from footer to last row */
.tabulator .tabulator-footer {
    border-top: none;
}

.tabulator-tableholder::after {
    content: '';
    display: block;
    width: 1px;
    height: 1px;
    min-width: 100%;
}

.tabulator .tabulator-footer .tabulator-paginator .tabulator-page:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.tabulator .tabulator-footer .tabulator-paginator .tabulator-page:last-child {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

/* border line corrections and hover/selection behavior */
.tabulator-row:first-child >  .tabulator-cell {
    border-top: none;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {
    padding: 0px;
}

/* Row highlight behavior */
@keyframes highlight {
    0% {
        background: #ffff99; 
    }
    100% {
        background: none;
    }
}
.highlight-bg {
    animation: highlight 2s;
}

/* Tabulator "loading" and "error" overrides */
.tabulator .tabulator-alert {
    background: none;
}
.tabulator .tabulator-alert .tabulator-alert-msg.tabulator-alert-state-msg {
    border: none;
}
.tabulator .tabulator-alert .tabulator-alert-msg {
    background: initial;
    font-size: 18px;
}
.tabulator .tabulator-alert .tabulator-alert-msg.tabulator-alert-state-error {
    border: none;
}

