<menu>
   <Services>
      <Monit order="270">
         <Settings url="/ui/monit"/>
         <Status url="/ui/monit/status"/>
      </Monit>
   </Services>

   <ReportsandLogs>
    <LogFiles>
      <Log order="280" VisibleName="Monit Log File" url="/ui/diagnostics/log/core/monit" />
    </LogFiles>
  </ReportsandLogs>

</menu>
