<menu>
    <Interfaces>
        <VIP order="930" VisibleName="Virtual IPs" cssClass="fa fa-clone fa-fw">
            <Settings url="/ui/interfaces/vip"/>
            <Status url="/ui/diagnostics/interface/vip"/>
        </VIP>
        <Types>
            <LAGG url="/ui/interfaces/lagg"/>
            <Loopback url="/ui/interfaces/loopback"/>
            <VLAN url="/ui/interfaces/vlan"/>
            <VXLAN url="/ui/interfaces/vxlan"/>
        </Types>
    </Interfaces>
</menu>
