<acl>
    <page-filter-api>
        <name>Firewall: Automation: Filter</name>
        <patterns>
            <pattern>ui/firewall/filter/*</pattern>
            <pattern>api/firewall/filter/*</pattern>
        </patterns>
    </page-filter-api>
    <page-filter-snat-api>
        <name>Firewall: Automation: Source NAT</name>
        <patterns>
            <pattern>ui/firewall/source_nat/*</pattern>
            <pattern>api/firewall/source_nat/*</pattern>
        </patterns>
    </page-filter-snat-api>
    <page-firewall-nat-npt>
        <name>Firewall: NAT: NPTv6</name>
        <patterns>
            <pattern>ui/firewall/npt/*</pattern>
            <pattern>api/firewall/npt/*</pattern>
        </patterns>
    </page-firewall-nat-npt>
    <page-firewall-nat-1-1-edit>
        <name>Firewall: NAT: 1:1</name>
        <patterns>
            <pattern>ui/firewall/one_to_one/*</pattern>
            <pattern>api/firewall/one_to_one/*</pattern>
        </patterns>
    </page-firewall-nat-1-1-edit>
</acl>
