/*
 * For universal layout adjustments that do not need theme compilation.
 * No color or other variables allowed, only static layout changes.
 */

.menu-favorite-star {
  cursor: pointer;
}

.page-content-head .menu-favorite-star {
  font-size: 14px;
  margin-left: 0.5em;
  vertical-align: middle;
  position: relative;
  top: -0.1em;
}
